/www/scripts/app/counters.js
/www/counters.inc
www/counters.inc
www/scripts/app/counters.js
*.DS_Store
/node_modules/*
/sassdoc/
*.idea
/.sass-cache
/tmp/*
/www/bitrix/*
/www/bitrix
/www/upload/*
/www/upload
/www/local/php_interface/lib/dompdf/lib/fonts/log*
/www/sitemap.xml*
/www/sitemap_*
/www/web.config
/import/*
/www/import/log/*
!/www/import/log/temp
*.sublime-project
*.sublime-workspace
/.htaccess
/.htpasswd
/access.log
/error.log
/config/.settings.php
/config/dbconn.php
