.b-tabs__item.is-active {
    color: $tabs-color-active;
    background-color: $tabs-background-color-active;
    cursor: default;
}

.b-tabs__item.is-disabled {
    cursor: default;
    color: $tabs-color-disabled;
    background-color: $tabs-background-color-disabled;

    &:active {
        color: $tabs-color-disabled;
    }
}

.b-tabs__content.is-active {
    display: block;
}
