.b-index__top-slider{
  img{
    padding-top: 18px;
    padding-bottom: 30px;
  }
}
.b-index__recommendation{
  text-align: center;
  margin-bottom: 30px;
}
.b-index__recommendation_icon{
  float: left;
}
.b-index__recommendation_text{
  font-size: 15px;
  color: $gray;
}
.b-index__recommendation_text_title{
  font-size: 28px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
  color: $black;
}
.b-index__recommendation_link{
  color: $main-blue;
}