include ../mixins/all-mixins
.b-about-us.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link О нас
    .b-ordering__title.b-ordering__title__align-left О нас
    .b-about-us__article
        .b-about-us__article-text.col-14
            p Компания GlorYes! - российская торговая марка, которая помогает мамам ухаживать за малышами, создавая обаятельную и качественную экопродукцию без химии – современные многоразовые подгузники, пеленки, трусики, наматрасники, спальные мешки и пр. Выбирая GlorYes!, вы будете уверены, что ваш непоседа растет здоровым, и при этом вы экономите семейный бюджет и не причиняете ненужного вреда окружающей среде.  
            p GlorYes! появилась в 2011 году, когда у основателей компании Ульяны и Андрея родился первый малыш. Столкнувшись с проблемой аллергии на химию в одноразовых подгузниках, они начали искать современные альтернативы. Они выяснили, что на Западе уже давно распространены так называемые многоразовые подгузники из современных тканей без химии. Испытав их на своих детках, они пришли к выводу, что их можно усовершенствовать и предложить российским мамам и папам.      
        .b-about-us__article-image
            //img(src='../img/other-page/5z1a0343-1-jpg)