include ../mixins/all-mixins
.b-delivery.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Доставка
    .b-ordering__title.b-ordering__title__align-left доставка
    .b-delivery__text.col-22
        .b-color-gray Чтобы узнать точную стоимость и все способы доставки, положите товары в корзину, выберите ваш город
            |и нажмите <a href='' class="b-main-blue-color b-bold-text">"Оформить заказ"</a>.<br>  Ниже приведены примерные цены на доставку без учета веса заказа.  
    .b-delivery__text.col-22
        .b-delivery__tab
            .b-delivery__tab-main-title.j-drop-menu вся россия
            .b-show-element МОСКВА