include ../mixins/all-mixins
.b-delivery.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Доставка
    .b-ordering__title.b-ordering__title__align-left доставка
    .b-delivery__text.col-22
        .b-color-gray Чтобы узнать точную стоимость и все способы доставки, положите товары в корзину, выберите ваш город
            |и нажмите <a href='' class="b-main-blue-color b-bold-text">"Оформить заказ"</a>.<br>  Ниже приведены примерные цены на доставку без учета веса заказа.  
    .b-delivery__text.col-22
        .b-delivery__tab
            .b-delivery__tab-main-title.j-drop-menu вся россия
            .b-show-element.b-delivery__tab-msk-title.j-drop-msk-menu Москва и Московская Обл.
            .b-show-msk-element
                .b-delivery-pink-title КУРЬЕРОМ:
                ul.b-promotions__ul
                    li в пределах МКАД - 330-380 руб. <span class="b-color-light-gray"> в зависимости от веса</span>
                    li за МКАД (до 10 км)  +150 руб.<span class="b-color-light-gray"> Можно оплатить при получении</span>
                .b-delivery-pink-title САМОВЫВОЗ ИЗ ПУНКТОВ СДЭК:
                p стоимость и пункты отобразятся при оформлении заказа до его подтверждения.
                    |<span class="b-color-light-gray"> Заказы по предварительной оплате.</span>
                .b-delivery-pink-title ПОЧТА РОССИИ:
                p от 189 руб. в зависимости от веса (точная сумма отобразится при оформлении заказа).
                    |<span class="b-color-light-gray"> Можно оплатить при получении.</span>
                .b-color-gray.col-push-1
                    p <span class="b-bold-text">АКЦИЯ 1:</span> Бесплатная доставка  в пункты самовывоза Москвы и МО любого заказа, в котором
                        |есть стиральный ЭКОпорошок 1,5 кг.  
                    p <span class="b-bold-text">АКЦИЯ 2:</span> Бесплатная доставка при заказе на 4000 руб. и более курьером в пределах МКАД, в
                        | пункты самовывоза, Почтой России для МО. Для заказов от 4000 руб. курьером за МКАД - 150 руб
            .b-show-element.b-delivery__tab-spb-title.j-drop-spb-menu Санкт-Петербург и Ленинградская Обл.   
            .b-show-spb-element
                .b-delivery-pink-title КУРЬЕРОМ:
                ul.b-promotions__ul
                    li в пределах КАД - 230-260 руб.<span class="b-color-light-gray"> в зависимости от веса</span>
                    li за КАД (до 10 км) и в Петергоф +150 руб.<span class="b-color-light-gray"> Можно оплатить при получении</span>
                .b-delivery-pink-title САМОВЫВОЗ ИЗ ПУНКТОВ СДЭК:
                p стоимость и пункты отобразятся при оформлении заказа до его подтверждения.
                    | <span class="b-color-light-gray"> Заказы по предварительной оплате.</span>
                .b-delivery-pink-title ПОЧТА РОССИИ:
                p от 189 руб. в зависимости от веса (точная сумма отобразится при оформлении заказа).
                    | <span class="b-color-light-gray"> Можно оплатить при получении.</span>
                .b-color-gray.col-push-1
                    p <span class="b-bold-text">АКЦИЯ 1:</span> Бесплатная доставка  в пункты самовывоза Москвы и МО любого заказа, в котором
                        | есть стиральный ЭКОпорошок 1,5 кг.  
                    p <span class="b-bold-text">АКЦИЯ 2:</span> Бесплатная доставка при заказе на 4000 руб. и более курьером в пределах МКАД, в
                        | пункты самовывоза, Почтой России для МО. Для заказов от 4000 руб. курьером за МКАД - 150 руб
            .b-show-element.b-delivery__tab-rus-title.j-drop-rus-menu Вся Россия
            .b-show-rus-element
                .b-delivery-pink-title КУРЬЕРОМ:
                    p стоимость и пункты отобразятся при оформлении заказа до его подтверждения.
                        | <span class="b-color-light-gray"> Заказы по предварительной оплате.</span>
                    .b-delivery-pink-title САМОВЫВОЗ ИЗ ПУНКТОВ СДЭК:
                    p стоимость и пункты отобразятся при оформлении заказа до его подтверждения.
                        | <span class="b-color-light-gray"> Заказы по предварительной оплате.</span>
                    .b-delivery-pink-title ПОЧТА РОССИИ:
                    p от 189 руб. в зависимости от веса (точная сумма отобразится при оформлении заказа).
                        | <span class="b-color-light-gray"> Можно оплатить при получении.</span>
                    .b-color-gray.col-push-1
                        p <span class="b-bold-text">АКЦИЯ 1:</span> Бесплатная доставка  в пункты самовывоза Москвы и МО любого заказа, в котором
                            | есть стиральный ЭКОпорошок 1,5 кг.  
                        p <span class="b-bold-text">АКЦИЯ 2:</span> Бесплатная доставка при заказе на 4000 руб. и более курьером в пределах МКАД, в
                            | пункты самовывоза, Почтой России для МО. Для заказов от 4000 руб. курьером за МКАД - 150 руб
            .b-delivery__tab-kz-title.j-kz-drop-menu КАЗАХСТАН, КЫРГЫЗСТАН, АРМЕНИЯ, УКРАИНА
            .b-kz-show-element
                .b-delivery-pink-title ПОСЫЛКА ПОЧТОЙ:
                p от 189 руб. Срок доставки около 14 дней.
                    | <span class="b-color-light-gray"> Предварительная оплата заказа.</span>
                    .b-delivery-pink-title САМОВЫВОЗ ИЗ ПУНКТОВ EMS:
                p стоимость можно рассчитать на <a href='' class="b-main-blue-color b-bold-text">сайте</a> службы авиа-отправлений. Срок доставки около 7 дней.
                    | <span class="b-color-light-gray"> Предварительная оплата заказа. </span>
                p Чтобы оформить заказ, выберете при оформлении заказа вашу страну.
            .b-delivery__tab-world-title.j-world-drop-menu весь мир
            .b-world-show-element
                p Мы отправляем заказы во все страны мира с помощью EMS. Cтоимость можно рассчитать на <a href='' class="b-main-blue-color b-bold-text">сайте</a> службы авиа-отправлений. Срок доставки около 7 дней.
                    | <span class="b-color-light-gray"> Предварительная оплата заказа. </span>
    .b-delivery__text.col-22
        p.b-vertil-border Если после получения заказа у вас будут какие-либо вопросы, напишите нам на почту  <a href='' class="b-main-blue-color b-bold-text">info@gloryes.ru</a>, мы обязательно вам поможем во всем разобраться!
