include ../mixins/all-mixins
footer.b-footer
    .b-footer__menu.row.col-push-4.col-20
        ul.b-footer__menu_lists
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link-title о gloryes
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link О нас
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Полезные статьи
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Акции
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Контакты
        ul.b-footer__menu_lists
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link-title о товарах
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Отзывы
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Частые вопросы
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Видео
        ul.b-footer__menu_lists
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link-title ваш заказ
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Доставка
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Способы оплаты
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Гарантия и возврат 
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Условия соглашения
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Как сделать заказ? 
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Проверка статуса заказа
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Заказ по телефону
        ul.b-footer__menu_lists
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link-title сотрудничество
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Бизнес с нами
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Брошюра о товарах
            li.b-footer__menu_lists_items
                a(href='').b-footer__menu_lists_items_link Контакты