include ../mixins/all-mixins
header.b-header
    .b-header__dellvery.row
        .b-header__icon-car
            +svg('SVGs-06')
        .b-header__delivery-description
            | БЕСПЛАТНАЯ ДОСТАВКА заказов со стиральным ЭКОпорошком ИЛИ заказов от 4000 руб.
    nav.b-header__navigation.row
        ul.b-header__menu.col-push-4.col-11
            li.b-header__menu-item отзывы
            li.b-header__menu-item видео
            li.b-header__menu-item о нас
            li.b-header__menu-item контакты
            li.b-header__menu-item.b-header__menu-item_with-traingle помощь
        .b-header__promo.col-7
            .b-header__promo_icon-star
                +svg('SVGs-07')
            акции
        .b-header__social-buttons.col-3
            +svg('SVGs-14')
            +svg('SVGs-15')
            +svg('SVGs-16')
            +svg('SVGs-17')
        .b-header__login.col-push-4.col-4 вход/ регистрация
    .b-header__main-info.row
        .b-header__main-info_logo.col-push-4.col-4
            +svg('SVGs-01')


