include ../mixins/all-mixins
header.b-header
    .b-header__dellvery.row
        .b-header__icon-car
            +svg('SVGs-06')
        .b-header__delivery-description
            | БЕСПЛАТНАЯ ДОСТАВКА заказов со стиральным ЭКОпорошком ИЛИ заказов от 4000 руб.
    nav.b-header__navigation.j-navigation.row
        ul.b-header__menu.col-lg-push-4.col-lg-11.col-md-push-1.col-md-16
            li
                a(href='').b-header__menu-item отзывы
            li
                a(href='').b-header__menu-item видео
            li
                a(href='').b-header__menu-item о нас
            li
                a(href='').b-header__menu-item контакты
            li
                a(href='').b-header__menu-item.b-header__menu-item_with-traingle помощь
        .b-header__promo.col-lg-push-3.col-lg-3.col-md-push-2.col-md-push-2.col-md-4
            .b-header__promo_icon-star
                +svg('SVGs-07')
            a(href='').b-header__promo-title акции
        .b-header__social-buttons.col-lg-push-3.col-lg-3.col-md-push-2.col-md-6
            a(href='').b-header__social-href
                +svg('SVGs-14')
            a(href='').b-header__social-href
                +svg('SVGs-15')
            a(href='').b-header__social-href
                +svg('SVGs-16')
            a(href='').b-header__social-href
                +svg('SVGs-17')
        .b-header__login.col-lg-push-3.col-lg-4.col-md-push-2.col-md-2
            a(href='').b-header__login-enter вход
            a(href='').b-header__login-register регистрация
    .b-header__main-info.row
        button.b-header__hamburger.j-hamburger.col-push-3.col-3.col-post-2
            span
        a(href='').b-header__main-info_logo.col-md-push-1.col-md-7.col-md-post-2.col-lg-push-4.col-lg-5.col-16.col-push-1.col-post-1
            .b-header__main-info_logo-wrapper
                +svg('SVGs-01')
            .b-header__main-info_logo_tagline экотовары для малышей
        .b-header__main-info_search.col-lg-push-3.col-lg-7.col-md-push-1.col-md-9
            form(action='' ).b-header_search-form
                input(type='search').b-header__main-info_search_input
                button(type='submit').b-header__main-info_search_icon
                    +svg('SVGs-13')
        .b-header__main-info_phone.col-lg-push-2.col-lg-5.col-md-push-2.col-md-6
            p 8 (800) 333-90-32
            p заказать звонок
        a(href='').b-header__main-info_ordering.col-md-push-1.col-md-6.col-lg-push-2.col-lg-4
            .b-header__main-info_ordering_icon
                +svg('SVGs-11')
            .b-header__main-info_ordering_menu
                .b-header__main-info_ordering_menu-item1 Корзина
                i.b-header__main-info_ordering_menu-item-count (3)
                .b-header__main-info_ordering_menu-item2 1451 Р
                .b-hover-basket
                    .b-hover-basket__item
                        img(src='/img/orders/layer-29.png').b-hover-basket__image
                        p.b-hover-basket__text-p
                             |Пеленка-кокон GlorYes!<br> (0-3,5 мес.)
                             | <span class="b-color-gray"> Треугольники</span>
                        .b-hover-basket__value 749 ₽
                    .b-hover-basket__item
                        img(src='/img/orders/layer-29.png').b-hover-basket__image
                        p.b-hover-basket__text-p
                            | Пеленка-кокон GlorYes!<br> (0-3,5 мес.)
                            | <span class="b-color-gray"> Треугольники</span>
                        .b-hover-basket__value 749 ₽
                    .b-hover-basket__item
                        img(src='/img/orders/layer-29.png').b-hover-basket__image
                        p.b-hover-basket__text-p
                            | Пеленка-кокон GlorYes!<br> (0-3,5 мес.)
                            | <span class="b-color-gray"> Треугольники</span>
                        .b-hover-basket__value 749 ₽
                    .b-hover-basket__calc
                        p <span class="b-color-gray">СУММА ЗА ТОВАРЫ (4 шт.):</span> 1459 ₽
                        p.b-hover-basket__second-line до бесплатной доставки осталось 250 руб.
                    .b-hover-basket__btn
                        button(type='submit').b-hover-basket__btn-1
                            | Отправить
                        button(type='submit').b-hover-basket__btn-2
                            | КУПИТЬ В 1 КЛИК
            .b-header__main-info_ordering_btn оформить заказ
    .b-header__site-sections.col-lg-push-4.col-lg-30.col-md-push-1.col-md-34
        ul.b-header__site-sections_navigations
            li.b-header__site-sections_navigations-items
                .b-header__site-sections_navigations-item-1 многоразовые подгузники
            .b-header__drop-menu
                ul.b-header__drop-menu-ul
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Классические CLASSIC
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Классические CLASSIC +
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Бамбуковые угольные OPTIMA
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Бамбуковые угольные PREMIUM
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Бамбуковые для приучения к горшку
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Подгузники для плавания
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Вкладыши для подгузников
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Одноразовые салфетки для подгузников
                .b-header__drop-menu-slider.j-slick-header
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/1.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/2.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/3.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/4.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/1.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/2.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/3.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/4.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
            li.b-header__site-sections_navigations-items
                .b-header__site-sections_navigations-item-1 пленки
            .b-header__drop-menu.b-header__drop-menu__second-position
                ul.b-header__drop-menu-ul
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Непромокаемые пеленки
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Впитывающие пеленки
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Пеленки коконы
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Муслиновые пеленки
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Трикотажные пеленки
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Спальные мешки
                    li.b-header__drop-menu-ul-li
                        a(href='').b-header__drop-menu-ul-li-a Наматрасники
                .b-header__drop-menu-slider.j-slick-header
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/5.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/6.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/7.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/8.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/5.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/6.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                    .b-header__drop-menu-slider-item
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/7.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
                        .b-header__drop-menu-slider-item-continer
                            a(href='')
                                img(src='../img/header-drop/8.png')
                            .b-header__drop-menu-slider-item-title Сафари
                            p Многоразовый подгузник GlorYes! PREMIUM 3-18 кг + два вкладыша
                            p.b-header__drop-menu-slider-item-price 1490 ₽
            li.b-header__site-sections_navigations-items
                a(href='') трусики
            li.b-header__site-sections_navigations-items
                a(href='') для мам
            li.b-header__site-sections_navigations-items
                a(href='') аксессуары
            li.b-header__site-sections_navigations-items
                a(href='') стиральный порошок
    .b-header__city.b-header__city-hide
        .b-header__city-name
            p Ваш город - Москва?
            .b-header__city-btn-wrap
                button.b-header__city-btn.b-header__city-choice-close(type='submit') да, верно!
                button.b-header__city-btn.b-header__city-btn_color-lemon.b-header__city-show(type='submit') нет, изментить город
    .b-header__city-choice.b-header__city-hide
        .b-header__city-choice-cross.b-header__city-choice-close
            +svg('cross')
        .b-header__city-choice-title Выберите ваш город
        .b-header__city-choice-search-input
            input(type='search' placeholder='Введите название вашего города')
        ul.b-header__city-choice-ul
            li.b-header__city-choice-ul-li
                a(href='').b-header__city-choice-ul-li-a Москва
            li.b-header__city-choice-ul-li
                a(href='').b-header__city-choice-ul-li-a Санкт-Петербург
            li.b-header__city-choice-ul-li
                a(href='').b-header__city-choice-ul-li-a Новосибирск
            li.b-header__city-choice-ul-li
                a(href='').b-header__city-choice-ul-li-a Нижний Новгород
            li.b-header__city-choice-ul-li
                a(href='').b-header__city-choice-ul-li-a Екатеринбург








