include ../mixins/all-mixins
header.b-header
    .b-header__dellvery.row
        .b-header__icon-car
            +svg('SVGs-06')
        .b-header__delivery-description
            | БЕСПЛАТНАЯ ДОСТАВКА заказов со стиральным ЭКОпорошком ИЛИ заказов от 4000 руб.
    nav.b-header__navigation.j-navigation.row
        ul.b-header__menu.col-lg-push-4.col-lg-11.col-md-push-1.col-md-16
            li
                a(href='').b-header__menu-item отзывы
            li
                a(href='').b-header__menu-item видео
            li
                a(href='').b-header__menu-item о нас
            li
                a(href='').b-header__menu-item контакты
            li
                a(href='').b-header__menu-item.b-header__menu-item_with-traingle помощь
        .b-header__promo.col-lg-push-3.col-lg-3.col-md-push-2.col-md-push-2.col-md-4
            .b-header__promo_icon-star
                +svg('SVGs-07')
            a(href='').b-header__promo-title акции
        .b-header__social-buttons.col-lg-push-3.col-lg-3.col-md-push-2.col-md-6
            a(href='').b-header__social-href
                +svg('SVGs-14')
            a(href='').b-header__social-href
                +svg('SVGs-15')
            a(href='').b-header__social-href
                +svg('SVGs-16')
            a(href='').b-header__social-href
                +svg('SVGs-17')
        .b-header__login.col-lg-push-3.col-lg-4.col-md-push-2.col-md-2
            a(href='').b-header__login-enter вход
            a(href='').b-header__login-register регистрация
    .b-header__main-info.row
        button.b-header__hamburger.j-hamburger.col-push-3.col-3.col-post-2
            span
        a(href='').b-header__main-info_logo.col-md-push-1.col-md-7.col-md-post-2.col-lg-push-4.col-lg-5.col-16.col-push-1.col-post-1
            .b-header__main-info_logo-wrapper
                +svg('SVGs-01')
            .b-header__main-info_logo_tagline экотовары для малышей
        .b-header__main-info_search.col-lg-push-3.col-lg-7.col-md-push-1.col-md-9
            form(action='' ).b-header_search-form
                input(type='search').b-header__main-info_search_input
                button(type='submit').b-header__main-info_search_icon
                    +svg('SVGs-13')
        .b-header__main-info_phone.col-lg-push-2.col-lg-5.col-md-push-2.col-md-6
            p 8 (800) 333-90-32
            p заказать звонок
        a(href='').b-header__main-info_ordering.col-md-push-1.col-md-6.col-lg-push-2.col-lg-4
            .b-header__main-info_ordering_icon
                +svg('SVGs-11')
            .b-header__main-info_ordering_menu
                .b-header__main-info_ordering_menu-item1 Корзина
                i.b-header__main-info_ordering_menu-item-count (3)
                .b-header__main-info_ordering_menu-item2 1451 Р
            .b-header__main-info_ordering_btn оформить заказ
    .b-header__site-sections.col-lg-push-4.col-lg-30.col-md-push-1.col-md-34
        ul.b-header__site-sections_navigations
            li.b-header__site-sections_navigations-items
                a(href='').b-header__site-sections_navigations-item-1 многоразовые подгузники
            li.b-header__site-sections_navigations-items
                a(href='') пленки
            li.b-header__site-sections_navigations-items
                a(href='') трусики
            li.b-header__site-sections_navigations-items
                a(href='') для мам
            li.b-header__site-sections_navigations-items
                a(href='') аксессуары
            li.b-header__site-sections_navigations-items
                a(href='') стиральный порошок







