include ../mixins/all-mixins
.b-how-make.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4.col-34
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Как сделать заказ
    .b-ordering__title.b-ordering__title__align-left.col-32 как сделать заказ
    .b-how-make__text.col-32
        p 1) Добавьте товары в корзину <br>
            | 2) Нажмите на красную кнопку "Оформить заказ" в правом верхнем углу страницы <br>
            | 3) Заполните все поля, начиная с города доставки. Укажите способ доставки и оплаты<br><span class="b-about-us__achievements-red" >Внимание:</span> способы доставки отображаются для каждого региона индивидуально <br>
            | 4) Нажмите кнопку "Подтвердить заказ" внизу страницы <br>
        .b-video__catalog-video.col-32
            iframe(height='285px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-15.col-32
    .b-ordering__title.b-ordering__title__align-left.col-32.b-how-make__title как оформить заказ выгоднее?
    .b-how-make__text.col-lg-25.col-32
        p У вас есть 2 способа оплаты:         
        p <span class="b-about-us__achievements-red" > 1) Оплачиваете заказ заранее</span> (перед отправкой). В таком случае
            |вы оплачиваете только стоимость товаров и доставку. При сумме заказа 4000 руб. и более доставка бесплатная,
            |т.е. нужно оплатить только сумму за товары. Посмотреть все способы оплаты можно <a href='' class="b-main-blue-color b-bold-text">
            |здесь.</a><br>
            | <span class="b-about-us__achievements-red" > 2) Оплачиваете заказ при получении:</span>
        ul.b-promotions__ul
            li.b-how-make__text-li <span class="b-bold-text" > Москва, Санкт-Петербург</span><br>
                | наличными курьеру
            li <span class="b-bold-text" >Другие города РФ</span>
        p.b-how-make__text-li  на почте оплатить нужно будет не только стоимость товаров и доставку, но и страховку, также процент за перевод наложенного платежа.
            |Если сумма вашего заказа равна или выше 4000 руб., то вы оплачиваете стоимость товаров и услуги почты (опись, страховка, процент за перевод).
        p.b-bold-text.b-how-make__text-li  Таким образом, выгоднее оплатить заказ заранее перед отправкой.