include ../mixins/all-mixins
.b-register-success.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Вход и регистрация
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Успешная регистрация
    .b-ordering__title.b-ordering__title__align-left ваша ученая запись создана!
    .b-register-success__text.col-21
        p Поздравляем! Теперь вы можете просматривать историю заказов и измененять свою контактную информацию в <a href='' class="b-contacts__list-link">личном кабинете</a>.
            |Письмо с данными о регистрации было отправлено на ваш E-mail. Если вы не получили письмо, или у вас есть какие-либо вопросы,
            |пожалуйста, <a href='' class="b-contacts__list-link">напишите нам</a>.
        p Пока вы ожидаете ваш заказ, скачайте бесплатную инструкцию по использованию продукции GlorYes! <a href='' class="b-contacts__list-link">здесь</a>.
        button(type='submit').b-ordering__confirm.row.col-md-post-25.col-lg-7.col-md-10.col-30.b-contacts__form-btn
            | НАЧАТЬ ПОКУПКИ