include ../mixins/all-mixins
.b-reviews.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Отзывы
    .b-ordering__title.b-ordering__title__align-left.col-32 отзывы мам и пап
    .b-reviews__text-explanation.col-lg-16.col-lg-post-16.col-md-33.col-34
        p Вам понравились товары GlorYes!, и есть что рассказать другим мамам? Помогите принять верное решение друзьям,
            |оставьте отзыв от учетной записи вКонтакте, Facebook или в комментарии на сайте. Также вы найдете много отзывов
            |<span class="b-reviews__text-explanation-bold"> в группе GlorYes! вКонтакте. </span>
    .b-reviews__tabs
        ul.tabs.clearfix(data-tabgroup='first-tab-group').col-32
            li.tabs-li
                a.active(href='#tab1') В КОНТАКТЕ
            li.tabs-li
                a(href='#tab2') НА FACEBOOK
            li.tabs-li
                a(href='#tab3') НА САЙТЕ
        section#first-tab-group.tabgroup.col-lg-16.col-33
            #tab1
                h2 Heading 1
                p Вам понравились товары GlorYes!, и есть что рассказать другим мамам? Помогите принять верное решение друзьям,
                    | оставьте отзыв от учетной записи вКонтакте, Facebook или в комментарии на сайте. Также вы найдете много отзывов
                    | <span class="b-reviews__text-explanation-bold"> в группе GlorYes! вКонтакте. </span>
            #tab2
                h2 Heading 2
                p
                    | Adipisci autem obcaecati velit natus quos beatae explicabo at tempora minima voluptates deserunt eum consectetur reiciendis placeat dolorem repellat in nam asperiores impedit voluptas iure repellendus unde eveniet accusamus ex.
            #tab3
                h2 Heading 3
                p
                    | Atque ratione soluta laboriosam illo inventore amet ipsum aliquam assumenda harum provident nam accusantium neque debitis obcaecati maxime officia saepe ad ducimus in quam libero vero quasi. Saepe sit nisi?
