include ../mixins/all-mixins
.b-search.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Поиск
    .b-ordering__title.b-ordering__title__align-left.col-32 поиск на сайте
    .b-header__main-info_search.col-lg-7.col-md-9
        form(action='' ).b-header_search-form
            input(type='search').b-header__main-info_search_input.b-search__search-form
            button(type='submit').b-header__main-info_search_icon
                +svg('SVGs-13')
    .b-reviews__text-explanation.col-16.col-post-16
        p По вашему запросу найдено:  
    .b-reviews__tabs
        ul.tabs.clearfix(data-tabgroup='search-tab-group').col-32
            li.tabs-li.b-personal-area__tabs-li
                a.active(href='#tab10') 48 ТОВАРОВ
            li.tabs-li.b-personal-area__tabs-li
                a(href='#tab11') 27 СТРАНИЦ
        section#search-tab-group.tabgroup.col-24
            #tab10
                .b-ordering__often-buy.col-lg-push-0.col-md-push-1.row.col-lg-31.col-35
                    .b-ordering__often-buy-art.col-6.b-ordering__mobi-hidden
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                .b-ordering__often-buy.col-lg-push-0.col-md-push-1.row.col-lg-31.col-35
                    .b-ordering__often-buy-art.col-6.b-ordering__mobi-hidden
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
                    .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                        .b-ordering__often-buy-art-title
                            | Африка
                        .b-ordering__often-buy-art-discr
                            | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                        .b-ordering__often-buy-art-icon
                            img(src='/img/orders/img-5723.png')
                        a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                            | в корзину
            #tab11
                .b-search__article
                    p.b-search__article-title Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы?
                    p.b-search__article-text
                        | Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы?Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы?Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы...
                    a(href='').b-main-blue-color.b-bold-text Читать дальше
                .b-search__article
                    p.b-search__article-title Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы?
                        p.b-search__article-text
                            | Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы?Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы?Можно ли надевать подгузники мальчикам? Не перегреются ли половые органы...
                        a(href='').b-main-blue-color.b-bold-text Читать дальше