include ../mixins/all-mixins
.b-useful-articles.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Полезные статьи
    .b-ordering__title.b-ordering__title__align-left.col-32 полезные статьи
    .b-useful-articles__article.col-30
        .b-useful-articles__article-image
            img(src='../img/other-page/with-an-umbrella.png').col-lg-12.col-32
        .b-useful-articles__article-text.col-push-1.col-lg-17.col-32
            .b-useful-articles__article-text-title Что такое многоразовые пеленки и как за ними ухаживать?
            .b-useful-articles__article-text-date 30 авг 2017 г.
            p.b-useful-articles__article-text-p Поздравляем! Теперь вы можете просматривать историю заказов и измененять свою контактную информацию в личном кабинете. Письмо с данными о регистрации было отправлено на ваш E-mail. Если вы не получили письмо, или у вас есть какие-либо вопросы, пожалуйста, напишите нам. Пока вы ожидаете ваш заказ, скачайте бесплатную инструкцию по использованию продукции GlorYes! здесь. тактную информацию в личном кабинете. Письмо с данными о регистрации было отправлено на ваш E-mail. Если вы не получили письмо, или у вас есть какие-либо вопросы, пожалуйста, напишите нам. Пока вы ожидаете ваш заказ, скачайте бесплатную инструкцию по использованию продукции GlorYes! здесь.
            button(type='submit').b-ordering__confirm.row.col-md-post-25.col-lg-7.col-md-10.col-30.b-contacts__form-btn
                | ЧИТАТЬ ДАЛЬШЕ
    .b-useful-articles__article.col-30
        .b-useful-articles__article-image
            img(src='../img/other-page/20170514-154722-jpg.png').col-lg-12.col-32
        .b-useful-articles__article-text.col-push-1.col-lg-17.col-32
            .b-useful-articles__article-text-title Что такое многоразовые пеленки и как за ними ухаживать?
            .b-useful-articles__article-text-date 30 авг 2017 г.
            p.b-useful-articles__article-text-p Поздравляем! Теперь вы можете просматривать историю заказов и измененять свою контактную информацию в личном кабинете. Письмо с данными о регистрации было отправлено на ваш E-mail. Если вы не получили письмо, или у вас есть какие-либо вопросы, пожалуйста, напишите нам. Пока вы ожидаете ваш заказ, скачайте бесплатную инструкцию по использованию продукции GlorYes! здесь. тактную информацию в личном кабинете. Письмо с данными о регистрации было отправлено на ваш E-mail. Если вы не получили письмо, или у вас есть какие-либо вопросы, пожалуйста, напишите нам. Пока вы ожидаете ваш заказ, скачайте бесплатную инструкцию по использованию продукции GlorYes! здесь.
            button(type='submit').b-ordering__confirm.row.col-md-post-25.col-lg-7.col-md-10.col-30.b-contacts__form-btn
                | ЧИТАТЬ ДАЛЬШЕ