include ../mixins/all-mixins
.b-video.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Видео
    .b-ordering__title.b-ordering__title__align-left.col-32 Видео
    .b-reviews__text-explanation.col-32
        p Чтобы не пропустить ни одного нового видео, подпишитесь на
            |наш <span class="b-reviews__text-explanation-bold">канал на Youtube!</span>
    .b-video__catalog
        .b-video__catalog-element.col-lg-16.col-33
            .b-video__catalog-title.col-lg-push-1.col-lg-12.col-33 Пять видов подгузников GlorYes! Как разобраться,  какие нужны вашему малышу? Посмотрите видео!
            .b-video__catalog-video
                iframe(height='275px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-14.col-33
        .b-video__catalog-element.col-lg-16.col-33
            .b-video__catalog-title.col-lg-push-1.col-lg-12.col-33 Пять видов подгузников GlorYes! Как разобраться,  какие нужны вашему малышу? Посмотрите видео!
            .b-video__catalog-video
                iframe(height='275px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-14.col-33
        .b-video__catalog-element.col-lg-16.col-33
            .b-video__catalog-title.col-lg-push-1.col-lg-12.col-33 Пять видов подгузников GlorYes! Как разобраться,  какие нужны вашему малышу? Посмотрите видео!
            .b-video__catalog-video
                iframe(height='275px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-14.col-33
        .b-video__catalog-element.col-lg-16.col-33
            .b-video__catalog-title.col-lg-push-1.col-lg-12.col-33 Пять видов подгузников GlorYes! Как разобраться,  какие нужны вашему малышу? Посмотрите видео!
            .b-video__catalog-video
                iframe(height='275px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-14.col-33
        .b-video__catalog-element.col-lg-16.col-33
            .b-video__catalog-title.col-lg-push-1.col-lg-12.col-33 Пять видов подгузников GlorYes! Как разобраться,  какие нужны вашему малышу? Посмотрите видео!
            .b-video__catalog-video
                iframe(height='275px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-14.col-33
        .b-video__catalog-element.col-lg-16.col-33
            .b-video__catalog-title.col-lg-push-1.col-lg-12.col-33 Пять видов подгузников GlorYes! Как разобраться,  какие нужны вашему малышу? Посмотрите видео!
            .b-video__catalog-video
                iframe(height='275px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-14.col-33
    .b-video__btn.col-lg-30.col-34
        a(href='').b-video__btn-link ПОДПИШИТЕСЬ НА КАНАЛ