include ../mixins/all-mixins
form(action='').b-where-order.col-lg-push-4.col-md-push-1.col-push-2
    .b-ordering__nav-line.row.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4
        ul.b-ordering__nav-line-list
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link
                    .b-ordering__nav-line-list-item-link-icon
                        +svg('SVGs-21')
            li.b-ordering__nav-line-list-item
                a(href='').b-ordering__nav-line-list-item-link Где мой заказ?
    .b-ordering__title.b-ordering__title__align-left.col-32 проверка статуса заказа
    .b-color-gray.col-32 Введите номер вашего телефона или Email для проверки статуса заказа.
    .b-ordering__buyer.col-lg-22.col-md-26.col-34.col-post-6.b-where-order__form
        .b-ordering__buyer-form
            input(type='tel' name='phone' placeholder='номер телефона').b-ordering__buyer-form-tel.col-lg-8.col-md-25.col-34.b-contacts__form-shadow_none
            .b-where-order__form-p.col-1.col-md-32 или
            input(type='email' name='mail' placeholder='Email').b-ordering__buyer-form-mail.col-lg-8.col-md-25.col-34
            button(type='submit').b-ordering__confirm.row.col-md-post-25.col-lg-7.col-md-15.col-34.b-contacts__form-btn
                | ПРОВЕРИТЬ СТАТУС
