<div class="b-gallery j-gallery">
    <div
        data-width="100%"
        data-arrows="false"
        data-nav="thumbs"
        data-loop="false"
        data-keyboard="true"
        data-thumbwidth="120px"
        data-fit="contain"
        class="b-gallery__base">

        {{#each this}}
            <a href="{{normal}}" data-thumb="{{thumbs}}"></a>
        {{/each}}

    </div>

    <a href="#gallery-popup" class="b-gallery__increase">Увеличить</a>
    <a href="javascript:;" class="j-gallery__prev b-gallery__arrow b-gallery__arrow_show_prev">Показать предыдущий слайд</a>
    <a href="javascript:;" class="j-gallery__next b-gallery__arrow b-gallery__arrow_show_next">Показать следущий слайд</a>
</div>
