extends _layout
block title
    title Главная страница
block content
    .b-index
        .b-index__top-slider
            img(src='/img/background.png')
        .b-index__recommendation.row.col-push-4.col-25
            .b-index__recommendation_icon
                img(src='/img/layer-24.png')
            .b-index__recommendation_text
                .b-index__recommendation_text_title
                    |нам доверяет главврач роддома № 18
                p С рождением 4-го малыша я неожиданно открыла для себя впитывающие и непромокаемые пеленки  GlorYes! -
                    |действительно удобные, экономичные и экологичные решения для ухода. Также с удовольствием пользуюсь
                    |многоразовыми подгузниками для плавания GlorYes! Это отличная замена одноразовым подгузникам.
                a(href='').b-index__recommendation_link Гриненко Галина Викторовна
        .b-index__advantages.b-index__advantages_background-1.row.col-push-1.col-34.col-post-1
                .b-index__advantages_image.col-17
                    img(src='/img/dsc-4363-copy.png')
                .b-index__advantages_text.col-17
                    .b-index__advantages_text_title экономия на подгузниках > 100 тыс.
                    p Многоразовые подгузники GlorYes! - это ваша палочка-выручалочка на
                        |каждый день! С ними вам больше не нужно тратиться на нескончаемые упа-
                        |ковки одноразовых подгузников, подвергая нежную кожу вашего малыша
                        |вредной химии. Подгузники GlorYes! - признанный и проверенный в России
                        |бренд! В 2016 году они заняли 1-е место по популярности среди российских
                        |семей!
                    .b-index__advantages_btn
                        a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
        .b-index__advantages.b-index__advantages_background-2.row.col-push-1.col-34.col-post-1
            .b-index__advantages_text.col-17
                .b-index__advantages_text_title сон без подгузника? легко!
                p Чтобы кожа малыша дышала во время сна попробуйте уникальную впитывающую пеленку GlorYes!,
                    |на которой можно спать без подгузника всю ночь, принимать воздушные ванны днем или ходить на массаж.
                    | Пеленка впитает всю влагу и не протечет. А малышу будет сухо и комфортно!  Проверено тысячами мам!
                .b-index__advantages_btn
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
            .b-index__advantages_image.col-17
                img(src='/img/dsc-4266.png')
        .b-index__advantages.b-index__advantages_background-3.row.col-push-1.col-34.col-post-1
            .b-index__advantages_image.col-17
                img(src='/img/layer-13.png')
            .b-index__advantages_text.col-17
                .b-index__advantages_text_title запеленать сможет даже папа
                p Многоразовые подгузники GlorYes! - это ваша палочка-выручалочка на каждый день! С ними вам больше
                    |не нужно тратиться на нескончаемые упаковки одноразовых подгузников, подвергая нежную кожу вашего
                    |малыша вредной химии. Подгузники GlorYes! - признанный и проверенный в России бренд! В 2016 году
                    |они заняли 1-е место по популярности среди российских семей!
                .b-index__advantages_btn
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
        .b-index__advantages-footer.row.col-push-1.col-34.col-post-1
            .b-index__advantages-footer-blok__1.col-17
                .b-index__advantages-footer-blok-title плавайте чаще
                p Подгузник для плавания № 1 в России
                .b-index__advantages-footer-blok-image
                    img(src='/img/left-pic-2.png')
                .b-index__advantages_btn.b-index__advantages-btn_footer-1
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
            .b-index__advantages-footer-blok__2.col-17
                .b-index__advantages-footer-blok-title быстрое приучение к горшку
                p с многоразовыми трусиками из хлопка и бамбука
                .b-index__advantages-footer-blok-image
                    img(src='/img/baby1.png')
                .b-index__advantages_btn
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
        .b-index__powder.row.col-post-1.col-push-1.col-34
            .b-index__powder-title ваш надежный стиральный порошок
            p БЕЗ фосфатов, БЕЗ щелочи, БЕЗ отбеливателя, БЕЗ красителей, БЕЗ ароматизаторов
            .b-index__advantages.row
                .b-index__advantages_image.col-17
                    img(src='/img/powder.png')
                .b-index__advantages_text.b-index__powder_background.col-17
                    p.b-index__powder-p Устали от цветочных запахов в стиральных порошках?  Концентрированный ЭКОпорошок GlorYes! без
                        |запаха- это то, что  вы искали! Экономичный и экологичный, он подходит для стирки вещей всей
                        |семьи. Он безупречно справится с пятнами на цветном и белом белье и позаботится о нежной коже
                        |вашего малыша! Бонус: порошок GlorYes! не содержит мыло и поэтому идеально подходит для стирки
                        |многоразовых подгузников, трусиков и пеленок.
                    .b-index__advantages_btn.b-index__advantages-btn_footer-1
                        a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ





