extends _layout
block title
    title Главная страница
block content
    .b-index
        .b-index__top-slider.row
            img(src='/img/background.png')
        .b-index__recommendation.row.col-push-4.col-25
            .b-index__recommendation_icon
                img(src='/img/layer-24.png')
            .b-index__recommendation_text
                .b-index__recommendation_text_title
                    |нам доверяет главврач роддома № 18
                p С рождением 4-го малыша я неожиданно открыла для себя впитывающие и непромокаемые пеленки  GlorYes! -
                    |действительно удобные, экономичные и экологичные решения для ухода. Также с удовольствием пользуюсь
                    |многоразовыми подгузниками для плавания GlorYes! Это отличная замена одноразовым подгузникам.
                a(href='').b-index__recommendation_link Гриненко Галина Викторовна