extends _layout
block title
    title Главная страница
block content
    .b-index
        .b-index__top-slider.j-slick.col-36
            .b-index__top-slider-item
                .b-index__top-slider-item-title СПАТЬ ВСЮ НОЧЬ БЕЗ ПОДГУЗНИКА?  ЛЕГКО!
                a(href='').b-index__top-slider-item-btn подробнее
                img(src='/img/background.png').b-index__top-slider-item-img
            .b-index__top-slider-item
                .b-index__top-slider-item-title СПАТЬ ВСЮ НОЧЬ  БЕЗ ПОДГУЗНИКА?  ЛЕГКО!
                a(href='').b-index__top-slider-item-btn подробнее
                img(src='/img/background.png').b-index__top-slider-item-img
            .b-index__top-slider-item
                .b-index__top-slider-item-title СПАТЬ ВСЮ НОЧЬ  БЕЗ ПОДГУЗНИКА?  ЛЕГКО!
                a(href='').b-index__top-slider-item-btn подробнее
                img(src='/img/background.png')
            .b-index__top-slider-item
                .b-index__top-slider-item-title СПАТЬ ВСЮ НОЧЬ  БЕЗ ПОДГУЗНИКА?  ЛЕГКО!
                a(href='').b-index__top-slider-item-btn.b-mobi-hide подробнее
                img(src='/img/background.png')
        .b-index__recommendation.row.col-push-0.col-lg-push-2.col-md-push-2.col-lg-31.col-md-31.col-35
            .b-index__recommendation_text_title-mobi.col-36
                | нам доверяет главврач роддома № 18
            .b-index__recommendation_icon.col-5
                img(src='/img/layer-24.png')
            .b-index__recommendation_text.col-27.col-md-25.col-lg-25.col-md-push-1.col-push-1.col-lg-push-0
                .b-index__recommendation_text_title
                    |нам доверяет главврач роддома № 18
                p С рождением 4-го малыша я неожиданно открыла для себя впитывающие и непромокаемые пеленки  GlorYes! -
                    |действительно удобные, экономичные и экологичные решения для ухода. Также с удовольствием пользуюсь
                    |многоразовыми подгузниками для плавания GlorYes! Это отличная замена одноразовым подгузникам.
                a(href='').b-index__recommendation_link.col-md-push-9.col-lg-push-9 Гриненко Галина Викторовна
        .b-index__recommendation_text_title-mobi
            | экономия на подгузниках > 100 тыс.
        .b-index__advantages.b-index__advantages_background-1.row.col-push-1.col-34.col-post-1
                .b-index__advantages_image.col-34.col-md-17.col-lg-17
                    img(src='/img/dsc-4363-copy.png')
                .b-index__advantages_text.col-34.col-md-17.col-lg-17
                    .b-index__advantages_text_title экономия на подгузниках > 100 тыс.
                    p Многоразовые подгузники GlorYes! - это ваша палочка-выручалочка на
                        |каждый день! С ними вам больше не нужно тратиться на нескончаемые упа-
                        |ковки одноразовых подгузников, подвергая нежную кожу вашего малыша
                        |вредной химии. Подгузники GlorYes! - признанный и проверенный в России
                        |бренд! В 2016 году они заняли 1-е место по популярности среди российских
                        |семей!
                    .b-index__advantages_btn
                        a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
        .b-index__recommendation_text_title-mobi.col-36
            | сон без подгузника? легко!
        .b-index__advantages.b-index__advantages_background-2.row.col-push-1.col-34.col-post-1
            .b-index__advantages_image-mobi.col-34.col-md-17.col-lg-17
                img(src='/img/dsc-4266.png')
            .b-index__advantages_text.col-34.col-md-17.col-lg-17
                .b-index__advantages_text_title сон без подгузника? легко!
                p Чтобы кожа малыша дышала во время сна попробуйте уникальную впитывающую пеленку GlorYes!,
                    |на которой можно спать без подгузника всю ночь, принимать воздушные ванны днем или ходить на массаж.
                    | Пеленка впитает всю влагу и не протечет. А малышу будет сухо и комфортно!  Проверено тысячами мам!
                .b-index__advantages_btn
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
            .b-index__advantages_image.b-index__advantages_image_display-none.col-34.col-md-17.col-lg-17
                img(src='/img/dsc-4266.png')
        .b-index__recommendation_text_title-mobi.col-36
            | сон без подгузника? легко!
        .b-index__advantages.b-index__advantages_background-3.row.col-push-1.col-34.col-post-1
            .b-index__advantages_image.col-34.col-md-17.col-lg-17
                img(src='/img/layer-13.png')
            .b-index__advantages_text.col-34.col-md-17.col-lg-17
                .b-index__advantages_text_title запеленать сможет даже папа
                p Многоразовые подгузники GlorYes! - это ваша палочка-выручалочка на каждый день! С ними вам больше
                    |не нужно тратиться на нескончаемые упаковки одноразовых подгузников, подвергая нежную кожу вашего
                    |малыша вредной химии. Подгузники GlorYes! - признанный и проверенный в России бренд! В 2016 году
                    |они заняли 1-е место по популярности среди российских семей!
                .b-index__advantages_btn
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
        .b-index__advantages-footer.row.col-push-1.col-34.col-post-1
            .b-index__advantages-footer-blok__1.col-lg-17.col-md-17.col-34
                .b-index__advantages-footer-blok-title плавайте чаще
                p Подгузник для плавания № 1 в России
                .b-index__advantages-footer-blok-image
                    img(src='/img/left-pic-2.png')
                .b-index__advantages_btn.b-index__advantages-btn_footer-1.b-index__padding-8
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
            .b-index__advantages-footer-blok__2.col-lg-17.col-md-17.col-34
                .b-index__advantages-footer-blok-title быстрое приучение к горшку
                p с многоразовыми трусиками из хлопка и бамбука
                .b-index__advantages-footer-blok-image
                    img(src='/img/baby1.png')
                .b-index__advantages_btn.b-index__padding-8
                    a(href='').b-index__advantages_btn_link ВСЕ РАСЦВЕТКИ
        .b-index__powder.b-index__powder_background.row.col-post-1.col-push-1.col-34
            .b-index__powder-title ваш надежный стиральный порошок
            p БЕЗ фосфатов, БЕЗ щелочи, БЕЗ отбеливателя, БЕЗ красителей, БЕЗ ароматизаторов
            .b-index__advantages.row
                .b-index__advantages_image.col-lg-17.col-md-17.col-34
                    img(src='/img/powder.png')
                .b-index__advantages_text.col-lg-17.col-md-17.col-34
                    .b-index__powder-p Устали от цветочных запахов в стиральных порошках?  Концентрированный ЭКОпорошок GlorYes! без
                        |запаха- это то, что  вы искали! Экономичный и экологичный, он подходит для стирки вещей всей
                        |семьи. Он безупречно справится с пятнами на цветном и белом белье и позаботится о нежной коже
                        |вашего малыша!<br><b> Бонус:</b> порошок GlorYes! не содержит мыло и поэтому идеально подходит для стирки
                        |многоразовых подгузников, трусиков и пеленок.
                    .b-index__advantages_btn.b-index__advantages-btn_footer-1.b-index__advantages-btn_footer-1_margin25
                        a(href='').b-index__advantages_btn_link ПОДРОБНЕЕ
        .b-index__recommendation.row.col-lg-push-3.col-lg-31.col-md-push-3.col-md-31.col-34.col-push-1
            .b-index__recommendation_text_title отзывы мам
            .b-index__recommendation_text_title-mobi отзывы мам
            .j-slick.b-index__recommendation-slider
                .b-index__recommendation-wrap
                    .b-index__recommendation_icon.b-index__recommendation_icon_margin-none.col-lg-6.col-md-6.col-8
                        img(src='/img/layer-19.png')
                    .b-index__recommendation-text_left.col-push-1.col-lg-22.col-md-23.col-24
                        p Мы с Аришей уже неделю тестируем многоразовые подгузники <a class="b-index__recommendation_link" href=''>@gloryes.ru</a> И знаете о чем я жалею? Почему не
                            |мы сэкономили, используя их раньше Плюсы многоразовых подгузников <a class="b-index__recommendation_link" href=''>@gloryes.ru</a> очевидны.
                        a(href='').b-index__recommendation-link_left.col-lg-push-11.col-md-push-0 @alenka_karpova 
                    a(href='').b-index__recommendation-link_left-mobi.col-32 @alenka_karpova 
                .b-index__recommendation-wrap
                    .b-index__recommendation_icon.b-index__recommendation_icon_margin-none.col-lg-6.col-md-6.col-8
                        img(src='/img/layer-19.png')
                    .b-index__recommendation-text_left.col-push-1.col-lg-22.col-md-23.col-24
                        p Мы с Аришей уже неделю тестируем многоразовые подгузники <a class="b-index__recommendation_link" href=''>@gloryes.ru</a> И знаете о чем я жалею? Почему не
                            | мы сэкономили, используя их раньше Плюсы многоразовых подгузников <a class="b-index__recommendation_link" href=''>@gloryes.ru</a> очевидны.
                        a(href='').b-index__recommendation-link_left.col-lg-push-11.col-md-push-0 @alenka_karpova 
                    a(href='').b-index__recommendation-link_left-mobi.col-32 @alenka_karpova 
        .b-index__about.row.col-36
            .b-index__recommendation_text_title-mobi наша история
            .b-index__about-text.col-lg-push-3.col-md-push-3.col-push-1
                .b-index__about-text-title кто мы?
                .b-index__about-text-discription.col-lg-18.col-md-18
                    p
                        .b-index__about-image-mobi.col-17
                            img(src='/img/about.png')
                        |Устали от цветочных запахов в стиральных порошках? Концентрированный
                        |ЭКОпорошок GlorYes! без запаха- это то, что вы искали! Экономичный и экологичный, он подходит
                        |для стирки вещей всей семьи. Он безупречно справится с пятнами на цветном и белом белье и
                        | позаботится о нежной коже вашего малыша! Бонус: порошок GlorYes! не содержит мыло и поэтому
                        |идеально подходит для стирки многоразовых подгузников, трусиков и пеленок
            .b-index__about-image.col-md-12.col-lg-12
                img(src='/img/about.png')
        .b-index__promotions.row.col-push-5.col-28.col-post-2
            .b-index__promotions-title акции и жизнь GlorYes!
            a(href='').b-index__promotions-link.col-push-1 @gloryes.ru
            .b-index__promotions-images.col-push-1
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/1.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/2.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/3.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/4.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/5.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/6.png')
        .b-index__partners.row.col-push-1
            .b-index__promotions-title с нами работают
            .b-index__partners-slider.col-push-2.j-slick-partners.col-31
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2294-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2295-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2296-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2297-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2298-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2299-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2294-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2295-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2296-copy.png')
                .b-index__partners-image
                    img(src='/img/index-partners/layer-2297-copy.png')




