extends _layout
block title
    title Оформление заказа
block content
    .b-ordering
        .b-ordering__nav-line.row.col-push-4.col-28.col-post-4
            ul.b-ordering__nav-line-list
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link
                        .b-ordering__nav-line-list-item-link-icon
                            +svg('SVGs-21')
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Оформление заказа
        .b-ordering__basket.row.col-push-4.col-32
            .b-ordering__basket-order.col-18
                .b-ordering__basket-order-title
                    .b-ordering__title
                        |ваша корзина
                    .b-ordering__title_second
                        ul.b-ordering__basket-order-col
                            li.b-ordering__basket-order-col-item продукт
                            li.b-ordering__basket-order-col-item количество
                            li.b-ordering__basket-order-col-item цена
                .b-ordering__basket-order-list
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-10
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                            .b-ordering__basket-order-list-name-second треугольники
                        .b-ordering__basket-order-list-amount.col-push-1.col-2
                            form(action='').b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 Р
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-10
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                            .b-ordering__basket-order-list-name-second треугольники
                        .b-ordering__basket-order-list-amount.col-push-1.col-2
                            form(action='').b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 Р
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-10
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                            .b-ordering__basket-order-list-name-second треугольники
                        .b-ordering__basket-order-list-amount.col-push-1.col-2
                            form(action='').b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 Р
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить

                    .b-ordering__basket-order-additionally
                        .b-ordering__basket-order-additionally-icon
                            img(src='/img/orders/additionally.png')
                        .b-ordering__basket-order-list-name-footer.col-push-1.col-12
                            .b-ordering__basket-order-list-name-first хотите бесплатную доставку? добавьте к заказу
                                a(href='').b-ordering__basket-order-additionally-link стиральный ЭКОпорошок без запаха и мыла
                        a(href='').b-ordering__basket-order-list-additionally-btn.col-6
                            p добавить в корзину
            .b-ordering__basket-info.col-12
                .b-ordering__basket-info-item.b-ordering__title_second.col-10 СУММА ЗА ТОВАРЫ (4 шт.): <span class='b-ordering__basket-info-price'>749 Р</span>
                .b-ordering__basket-info-item.b-ordering__basket-info-item_relative.b-ordering__title_second.col-10 Доставка <span class='b-ordering__basket-info-price'> 250 Р</span>
                    .b-ordering__basket-info-item_relative-delivery до бесплатной доставки осталось 250 руб.
                .b-ordering__basket-info-item.b-ordering__title_second.col-11 итого <span class='b-ordering__basket-info-price'>250 Р</span>
                .b-ordering__basket-info-item
                    a(href='').b-ordering__basket-info-item-btn.col-10
                        |оформить заказ
                .b-ordering__basket-info-item.col-11
                    a(href='').b-ordering__basket-info-item-btn-little.b-ordering__basket-info-item-btn-little-first.col-5
                        |продолжить покупки
                    a(href='').b-ordering__basket-info-item-btn-little.col-5
                        |оформить в 1 клик
                .b-ordering__basket-info-item.col-10
                    .b-ordering__basket-info-item-coupon
                        |+ введите код купона, если есть
            .b-ordering__pay-icon.col-11.col-push-1
                img(src='/img/orders/visa-masterclass.png')
                |<a href="" class="b-ordering__pay-icon-link"> Есть вопросы? Найдите ответы здесь</a>
                .b-ordering__pay-icon-text или задайте их в чате 
        .b-ordering__title.col-push-4.col-15.col-post-17.row с этими товарами часто покупают
        .b-ordering__often-buy.col-push-4.row.col-31
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    |Африка
                .b-ordering__often-buy-art-discr
                    |Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                .b-ordering__often-buy-art-btn.col-4.col-push-1
                    |в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                .b-ordering__often-buy-art-btn.col-4.col-push-1
                    |в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                .b-ordering__often-buy-art-btn.col-4.col-push-1
                     |в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                .b-ordering__often-buy-art-btn.col-4.col-push-1
                    |в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                .b-ordering__often-buy-art-btn.col-4.col-push-1
                    | в корзину
        .b-ordering__title.col-push-4.col-15.col-post-17.row доставка
        .b-ordering__delivery-form.col-push-4.col-18
            form(action='').b-ordering__delivery-form-country.col-18
                select(name='form-country').b-ordering__delivery-form-country-select
                    option(value="Russia").b-ordering__delivery-form-country-select-option Российская Федерация
            form(action='' ).b-ordering__delivery-form-city
                input(type='search' name='search city' placeholder='начните набирать ваш город').b-ordering__delivery-form-city-search.col-18
            .b-ordering__delivery-form-city-text способ доставки отобразится после выбора города

