extends _layout
block title
    title Оформление заказа
block content
    form(action='').b-ordering
        .b-ordering__nav-line.row.col-lg-push-4.col-md-push-1.col-push-1.col-28.col-post-4
            ul.b-ordering__nav-line-list
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link
                        .b-ordering__nav-line-list-item-link-icon
                            +svg('SVGs-21')
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Оформление заказа
        .b-ordering__basket.row.col-lg-push-4.col-lg-32.col-md-35.col-md-push-1
            .b-ordering__basket-order.col-lg-18.col-md-20
                .b-ordering__basket-order-title
                    .b-ordering__title.b-ordering__title__align-left
                        |ваша корзина
                    .b-ordering__title_second
                        ul.b-ordering__basket-order-col
                            li.b-ordering__basket-order-col-item продукт
                            li.b-ordering__basket-order-col-item количество
                            li.b-ordering__basket-order-col-item цена
                .b-ordering__basket-order-list
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-11
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                            .b-ordering__basket-order-list-name-second треугольники
                        .b-ordering__basket-order-list-amount.col-push-3.col-2
                            .b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 ₽
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-11
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                            .b-ordering__basket-order-list-name-second треугольники
                        .b-ordering__basket-order-list-amount.col-push-3.col-2
                            .b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 ₽
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-11
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                            .b-ordering__basket-order-list-name-second треугольники
                        .b-ordering__basket-order-list-amount.col-push-3.col-2
                            .b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 ₽
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить

                    .b-ordering__basket-order-additionally
                        .b-ordering__basket-order-additionally-icon
                            img(src='/img/orders/additionally.png')
                        .b-ordering__basket-order-list-name-footer.col-push-1.col-11
                            .b-ordering__basket-order-list-name-first хотите бесплатную доставку? добавьте к заказу
                                a(href='').b-ordering__basket-order-additionally-link стиральный ЭКОпорошок без запаха и мыла
                        a(href='').b-ordering__basket-order-list-additionally-btn.col-6.col-md-8
                            p добавить в корзину
            .b-ordering__basket-info.col-lg-12.col-md-13.col-34.col-push-1.col-md-push-1
                .b-ordering__basket-info-item.b-ordering__title_second.col-lg-10.col-md-10.col-25 СУММА ЗА ТОВАРЫ (4 шт.): <span class='b-ordering__basket-info-price'>749 ₽</span>
                .b-ordering__basket-info-item.b-ordering__basket-info-item_relative.b-ordering__title_second.col-lg-10.col-md-10.col-25 Доставка: <span class='b-ordering__basket-info-price'> 250 ₽</span>
                    .b-ordering__basket-info-item_relative-delivery до бесплатной доставки осталось 250 руб.
                .b-ordering__basket-info-item.b-ordering__title_second.col-lg-11.col-md-12.col-25 итого: <span class='b-ordering__basket-info-price'>250 ₽</span>
                .b-ordering__basket-info-item
                    button(type='submit').b-ordering__basket-info-item-btn.col-lg-10.col-md-12.col-29
                         |оформить заказ
                .b-ordering__basket-info-item.col-lg-10.col-md-13.col-29
                    a(href='').b-ordering__basket-info-item-btn-little.b-ordering__basket-info-item-btn-little-first.col-lg-5.col-md-6.col-14
                        |продолжить покупки
                    a(href='').b-ordering__basket-info-item-btn-little.col-lg-5.col-md-6.col-14
                        |оформить в 1 клик
                .b-ordering__basket-info-item.col-lg-10.col-md-12.col-25
                    .b-ordering__basket-info-item-coupon
                        |+ введите код купона, если есть
            .b-ordering__pay-icon.col-lg-11.col-md-13.col-34.col-push-1
                img(src='/img/orders/visa-masterclass.png')
                |<a href="" class="b-ordering__pay-icon-link"> Есть вопросы? Найдите ответы здесь</a>
                |<span class="b-ordering__pay-icon-text-tablet">или задайте их в чате </span>
                .b-ordering__pay-icon-text или задайте их в чате

        .b-ordering__basket-mobi.col-36
            .b-ordering__basket-order-mobi.col-34.col-push-1
                .b-ordering__basket-order-title
                    .b-ordering__title_second
                        ul.b-ordering__basket-order-col
                            li.b-ordering__basket-order-col-item.b-ordering__basket-order-col-item-mobi продукт
                            li.b-ordering__basket-order-col-item.b-ordering__basket-order-col-item-mobi количество
                            li.b-ordering__basket-order-col-item.b-ordering__basket-order-col-item-mobi цена
                .b-ordering__basket-order-list
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-16
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                                |<span class="b-ordering__basket-order-list-name-second"> Треугольники</span>
                        .b-ordering__basket-order-list-amount.col-push-1.col-3
                            .b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 ₽
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-16
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                                | <span class="b-ordering__basket-order-list-name-second"> Треугольники</span>
                        .b-ordering__basket-order-list-amount.col-push-1.col-3
                            .b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 ₽
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить
                    .b-ordering__basket-order-list-item
                        .b-ordering__basket-order-list-icon
                            img(src='/img/orders/layer-29.png')
                        .b-ordering__basket-order-list-name.col-push-1.col-16
                            .b-ordering__basket-order-list-name-first Пеленка-кокон GlorYes! (0-3,5 мес.)
                                | <span class="b-ordering__basket-order-list-name-second"> Треугольники</span>
                        .b-ordering__basket-order-list-amount.col-push-1.col-3
                            .b-ordering__basket-order-list-amount-form
                                input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input
                        .b-ordering__basket-order-list-price.col-push-1
                            .b-ordering__basket-order-list-price-value 749 ₽
                            a(href='').b-ordering__basket-order-list-price-value-delete удалить

                    .b-ordering__basket-order-additionally
                        .b-ordering__basket-order-additionally-icon
                            img(src='/img/orders/additionally.png')
                        .b-ordering__basket-order-list-name-footer.col-push-1.col-15
                            .b-ordering__basket-order-list-name-first хотите бесплатную доставку? добавьте к заказу
                                a(href='').b-ordering__basket-order-additionally-link стиральный ЭКОпорошок без запаха и мыла
                        a(href='').b-ordering__basket-order-list-additionally-btn.col-8.col-push-2
                            p в корзину
                    .b-ordering__basket-info-item
                        button(type='submit').b-ordering__basket-info-item-btn.col-lg-10.col-md-11.col-30.col-push-2
                            | оформить заказ

        .b-ordering__title.col-lg-push-4.col-lg-15.col-36.row с этими товарами часто покупают
        .b-ordering__often-buy.col-lg-push-4.col-md-push-1.row.col-lg-31.col-35
            .b-ordering__often-buy-art.col-6.b-ordering__mobi-hidden
                .b-ordering__often-buy-art-title
                    |Африка
                .b-ordering__often-buy-art-discr
                    |Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1
                    |в корзину
            .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6
                    | в корзину
            .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6
                    | в корзину
            .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6
                    | в корзину
            .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6
                    | в корзину
        .b-ordering__title.col-lg-push-4.col-push-0.col-10.col-md-4.col-post-20.col-md-push-1 доставка
        .b-ordering__delivery-form.col-lg-push-4.col-lg-18.col-md-push-1.col-md-18.col-30
            .b-ordering__delivery-form-country.col-lg-18.col-md-25.col-34.col-lg-push-0.col-md-push-0.col-push-1
                select(name='form-country').b-ordering__delivery-form-country-select
                    option(value="Russia").b-ordering__delivery-form-country-select-option Российская Федерация
            .b-ordering__delivery-form-city
                input(type='search' name='search city' placeholder='начните набирать ваш город').b-ordering__delivery-form-city-search.col-lg-18.col-md-25.col-34.col-lg-push-0.col-md-push-0.col-push-1
            .b-ordering__delivery-form-city-text.col-lg-push-0.col-md-push-0.col-push-1 способ доставки отобразится после выбора города
        .b-ordering__delivery-title.col-lg-push-4.col-md-push-1.col-push-1.col-lg-15.col-md-25.col-25  доставка компанией СДЭК
        .b-ordering__delivery-methods.col-lg-push-4.col-push-1.col-lg-19.col-md-30.col-35
            .b-ordering__delivery-methods-pickup
                .b-ordering__delivery-checkbox-wrapper.col-lg-15.col-md-18.col-25
                    input(type='checkbox' name='courier')#checkbox-pickup.b-ordering__delivery-checkbox
                    label(for='checkbox-pickup') в пункт самовывоза, срок доставки: 1-2 дня
                .b-ordering__basket-order-list-price-value.col-4.col-push-5.col-lg-push-2.col-lg-2.col-md-2  160 ₽
                .b-ordering__delivery-form-address.col-lg-12.col-md-25.col-25
                    select(name='form-address').b-ordering__delivery-form-address-select
                        option(value="Kojuhovsky").b-ordering__delivery-form-address-select-option 6-я Кожуховская, 28 б, под. 3
                .b-ordering__delivery-methods-pickup-full-address.col-25.col-lg-12.col-md-25
                    |<b>адрес:</b> г. Москва, 6-я Кожуковская, 28 б, под. 3 <br>
                    |<b>телефон:</b> 812-45-45<br>
                    |<b>режим работы:</b> пн-пт 10:00-20:00, сб 10:00-16:00<br>
        .b-ordering__delivery-title.col-lg-push-4.col-md-push-1.col-push-1.col-lg-15.col-md-25.col-25  доставка курьером
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-18.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-courier.b-ordering__delivery-checkbox
            label(for='checkbox-courier') в пределах МКАД, срок доставки: 1 день
        .b-ordering__basket-order-list-price-value.col-4.col-push-5.col-lg-push-2.col-lg-2 330 ₽
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-18.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-courier10km.b-ordering__delivery-checkbox
            label(for='checkbox-courier10km') за МКАД не далее 10 км, срок доставки: 1-2 дня   
        .b-ordering__basket-order-list-price-value.col-4.col-push-5.col-lg-push-2.col-lg-2 480 ₽
        .b-ordering__delivery-checkbox-wrapper.b-ordering__delivery-checkbox-wrapper-courier30km.col-md-push-1.col-lg-push-4.col-lg-15.col-md-18.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-courier30km.b-ordering__delivery-checkbox
            label(for='checkbox-courier30km') за МКАД от 10 до 30 км, срок доставки: 1-2 дня
        .b-ordering__basket-order-list-price-value.col-4.col-push-5.col-lg-push-2.col-lg-2 680 ₽   
        .b-ordering__delivery-title.col-lg-push-4.col-md-push-1.col-push-1.col-lg-15.col-md-25.col-25  доставка почтой россии
        .b-ordering__delivery-checkbox-wrapper.b-ordering__delivery-checkbox-wrapper-mail.col-md-push-1.col-lg-push-4.col-lg-15.col-md-16.col-push-1.col-23
            input(type='checkbox' name='courier')#checkbox-mail.b-ordering__delivery-checkbox
            label(for='checkbox-mail') почтовая посылка, срок доставки 7-14 дней (0.71 кг)
        .b-ordering__basket-order-list-price-value.col-4.col-push-7.col-lg-push-2.col-lg-2  299 ₽   
        .b-ordering__title.col-lg-push-4.col-md-push-1.col-push-1.col-10.col-md-6.col-post-20 о покупателе
        .b-ordering__buyer.col-lg-push-4.col-md-push-1.col-push-1.col-lg-19.col-md-26.col-34
            .b-ordering__buyer-form
                input(type='text' name='last-name' placeholder='фамилия').b-ordering__buyer-form-last-name.col-lg-9.col-md-12.col-34
                input(type='text' name='name' placeholder='имя').b-ordering__buyer-form-name.col-lg-9.col-md-12.col-34
                input(type='tel' name='phone' placeholder='телефон').b-ordering__buyer-form-tel.col-lg-9.col-md-12.col-34
                input(type='email' name='mail' placeholder='Email').b-ordering__buyer-form-mail.col-lg-9.col-md-12.col-34
                textarea(rows="7" cols="45" name="comment" placeholder='комментарий к заказу').b-ordering__buyer-form-comment.col-lg-19.col-md-25.col-34
        .b-ordering__title.col-lg-push-4.col-md-push-1.col-md-8.col-15.col-post-15 способ оплаты
        .b-ordering__delivery-title.col-lg-push-4.col-md-push-1.col-push-1.col-lg-15.col-md-15.col-25 оплата при получении
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-25.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-pay1.b-ordering__delivery-checkbox
            label(for='checkbox-pay1') курьер, самовывоз
        .b-ordering__delivery-checkbox-wrapper.b-ordering__delivery-checkbox-wrapper-mail.col-md-push-1.col-lg-push-4.col-lg-15.col-md-25.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-pay2.b-ordering__delivery-checkbox
            label(for='checkbox-pay2') на почте
        .b-ordering__delivery-title.col-lg-push-4.col-md-push-1.col-push-1.col-lg-15.col-md-25.col-25 предварительная оплата
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-25.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-pay3.b-ordering__delivery-checkbox
            label(for='checkbox-pay3') Единая Касса
            p.b-ordering__delivery-checkbox-pay3.col-lg-16.col-md-25.col-34 Единая касса принимает к оплате наличные, безналичные и электронные деньги. Обслуживание платежей Единой
                |кассе доверили такие известные сервисы, как: "Slando", "Из Рук в Руки", "Biglton", "Фотострана" и др.
        .b-ordering__pay-system-icon.col-lg-push-4.col-md-push-1.col-lg-15.col-md-25.col-35
            img(src='/img/orders/pay-system.png')
        a(href='').b-ordering__pay-system-link.col-lg-push-4.col-md-push-1.col-lg-15.col-md-15.col-35.col-push-1
            |все способы оплаты через Единую Кассу
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-25.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-sber.b-ordering__delivery-checkbox
            label(for='checkbox-sber') оплата с карты Сбербанка
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-25.col-push-1.col-30
            input(type='checkbox' name='courier')#checkbox-bank.b-ordering__delivery-checkbox
            label(for='checkbox-bank') предварительная оплата через банк (по квитанции)
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-15.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-yandex.b-ordering__delivery-checkbox
            label(for='checkbox-yandex') Яндекс.Деньги
        .b-ordering__delivery-checkbox-wrapper.col-md-push-1.col-lg-push-4.col-lg-15.col-md-25.col-push-1.col-25
            input(type='checkbox' name='courier')#checkbox-qiwi.b-ordering__delivery-checkbox
            label(for='checkbox-qiwi') QIWI Кошелек
        button(type='submit').b-ordering__confirm.row.col-lg-push-4.col-md-push-1.col-push-3.col-lg-post-25.col-md-post-25.col-lg-7.col-md-10.col-30
            | подтвердить заказ
        .b-ordering__delivery-checkbox-wrapper.b-ordering__delivery-wrapper_blue.col-lg-push-4.col-md-push-1.col-push-3.col-lg-15.col-md-15.col-25
            input(checked='' type='checkbox' name='courier')#checkbox-agreement.b-ordering__delivery-checkbox.b-ordering__delivery-checkbox_blue
            label(for='checkbox-agreement') Я принимаю условия соглашения
