extends _layout
block title
    title Оформление заказа
block content
    .b-ordering
        .b-ordering__nav-line.row.col-push-4.col-28.col-post-4
            ul.b-ordering__nav-line-list
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link
                        .b-ordering__nav-line-list-item-link-icon
                            +svg('SVGs-21')
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Оформление заказа