extends _layout
block title
    title Другие страницы
block content
    .b-other-page__modal.col-32.col-push-4
        h1 МОДАЛЬНЫЕ ОКНА
        a.popup-with-zoom-anim(href='#basket-add') После добавления в корзину
        #basket-add.zoom-anim-dialog.mfp-hide
            .b-hover-basket__item
                img(src='/img/orders/layer-29.png').b-hover-basket__image
                p.b-hover-basket__text-p
                    | Пеленка-кокон GlorYes!<br> (0-3,5 мес.)
                    | <span class="b-color-gray"> Треугольники</span>
                .b-ordering__basket-order-list-amount
                    .b-ordering__basket-order-list-amount-form
                        input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input.col-push-2
                .b-ordering__basket-order-list-price.col-push-1
                    .b-ordering__basket-order-list-price-value 749 ₽
                    a(href='').b-ordering__basket-order-list-price-value-delete удалить
            .b-hover-basket__item
                img(src='/img/orders/layer-29.png').b-hover-basket__image
                p.b-hover-basket__text-p
                    | Пеленка-кокон GlorYes!<br> (0-3,5 мес.)
                    | <span class="b-color-gray"> Треугольники</span>
                .b-ordering__basket-order-list-amount
                    .b-ordering__basket-order-list-amount-form
                        input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input.col-push-2
                .b-ordering__basket-order-list-price.col-push-1
                    .b-ordering__basket-order-list-price-value 749 ₽
                    a(href='').b-ordering__basket-order-list-price-value-delete удалить
            .b-hover-basket__item
                img(src='/img/orders/layer-29.png').b-hover-basket__image
                p.b-hover-basket__text-p
                    | Пеленка-кокон GlorYes!<br> (0-3,5 мес.)
                    | <span class="b-color-gray"> Треугольники</span>
                .b-ordering__basket-order-list-amount
                    .b-ordering__basket-order-list-amount-form
                        input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input.col-push-2
                .b-ordering__basket-order-list-price.col-push-1
                    .b-ordering__basket-order-list-price-value 749 ₽
                    a(href='').b-ordering__basket-order-list-price-value-delete удалить
            .b-hover-basket__calc.b-add-basket__calc
                p <span class="b-color-gray">СУММА ЗА ТОВАРЫ (4 шт.):</span> <b>1459 ₽</b>
                p.b-hover-basket__second-line до бесплатной доставки осталось 250 руб.
            .b-hover-basket__btn.b-add-basket__btn
                button(type='submit').b-hover-basket__btn-1
                    | Отправить
                button(type='submit').b-hover-basket__btn-2
                    | КУПИТЬ В 1 КЛИК
            p.b-add-basket__p или <a href=''>продолжить покупки</a>
    include blocks/_reviews
    include blocks/_video
    include blocks/_about-us
    include blocks/_contacts
    include blocks/_promotions
    include blocks/_login
    include blocks/_register-success
    include blocks/_personal-area
    include blocks/_search
    include blocks/_how-make
    include blocks/_guarantees
    include blocks/_how-pay
    include blocks/_delivery
    include blocks/_FAQ
    include blocks/_useful-articles
    include blocks/_where-order
    include blocks/_business