extends _layout
block title
    title Другие страницы
block content
    include blocks/_reviews
    include blocks/_video
    include blocks/_about-us
    include blocks/_contacts
    include blocks/_promotions
    include blocks/_login
    include blocks/_register-success
    include blocks/_personal-area
    include blocks/_search
    include blocks/_how-make
    include blocks/_guarantees
    include blocks/_how-pay
    include blocks/_delivery
    include blocks/_FAQ
    include blocks/_useful-articles
    include blocks/_where-order
    include blocks/_business