extends _layout
block title
    title Оформление заказа
block content
    form(action='').b-product
        .b-ordering__nav-line.row.col-push-4.col-28.col-post-4
            ul.b-ordering__nav-line-list
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link
                        .b-ordering__nav-line-list-item-link-icon
                            +svg('SVGs-21')
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Многоразовые подгузники
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Классические Classic
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link.b-product__nav-line-list-item-link_light-gray Котята (3-18 кг + два вкладыша)
        .b-product__info.row.col-push-4
            .b-product__info-images
                .b-product__info-images-little.col-3
                    img(src='/img/product/little-image.png')
                .b-product__info-images-big.col-13
                    img(src='/img/product/layer-29.png')
                    .b-product__info-images-big-zoom.col-13
                        +svg('SVGs-13')
                        | нажмите, чтобы увеличить
            .b-product__info-text.col-14
                .b-product__title Пеленка-кокон GlorYes! (0-3,5 мес.)
                .b-product__subtitle Треугольники
                .b-product__vendor-code Арт: Sle-Min2-4
                .b-product__price
                    .b-product__price_pink 799 ₽ &nbsp
                    |749 ₽
                a(href='').b-ordering__often-buy-art-btn.col-4
                    | в корзину
                .b-ordering__basket-order-list-amount-form.b-product__basket-order-list-amount-form
                    input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input.col-push-1
                .b-ordering__product-availability.col-3.col-post-2 В наличии: <span style="color: #5cc5c8;"> 13 </span>
                .b-product__info-text-p
                    p Обеспечьте спокойный сон вашему малышу с рождения до 3,5 месяцев с помощью комфортного, тянущегося
                        |спального мешка в виде кокона на замочке. Он облегает тело малыша, словно мамины руки, успокаивает
                        |его и сдерживает вздрагивания и движения ручек, при этом не препятствуя движениям ножек. Пеленка-кокон
                        |понравится и папам как простой и быстрый способ свободного пеленания! Безопасность сна: малыш не
                        | запутается и не перегреется в мешке. 
                .b-header__dellvery.b-product__dellvery
                    .b-header__icon-car.b-product__icon-car
                        +svg('SVGs-06')
                    .b-header__delivery-description.b-product__delivery-description
                        | <b>БЕСПЛАТНАЯ ДОСТАВКА</b> заказов от 4000 руб. <br> и заказов со стиральны экопорошком gloryes
                .b-product__info-text-links.col-12
                    ul.b-product__info-text-links-ul
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link о доставке
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link cпособы оплаты
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link как сделать заказ? 
        .b-ordering__title.b-product__title выберите расцветки
        .b-ordering__often-buy.col-push-4.row.col-31
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-6
                .b-ordering__often-buy-art-title
                    | Африка
                .b-ordering__often-buy-art-discr
                    | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1
                    | в корзину
        .b-ordering__title.b-product__title информация о продукте
        .b-product__about.row
            .b-product__about-video.col-16.col-push-4
                iframe(height='315px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-15
            p.b-product__about-text.col-12 как работает многоразовый подгузник?   экономный, сухой внутренний слой, дышащий
                |водонепроницаемый внешний слой, один вкладыш в комплекте, для малышей от 3 до 15 кг, с рождения до 3
                |лет использовать днем, на дневной сон, на прогулку летом, для плавания (без использования вкладыша) 
                |Многоразовые подгузники Классика будут еще проще и приятнее! Попробуйте одноразовые биоразлагаемые
                |бамбуковые салфетки GlorYes! Положив одну салфетку на подгузник перед использованием, вы сможете легко
                |очистить подгузник после «покаков». В рулоне 100 салфеток. Не знаете, какие подгузники выбрать?
        .b-product__advantages.row.col-push-4.col-post-3.col-29
            .b-product__advantages-svg
                +svg('SVGs-40')
            .b-product__advantages-svg
                +svg('SVGs-41')
            .b-product__advantages-svg
                +svg('SVGs-42')
            .b-product__advantages-svg
                +svg('SVGs-43')
            .b-product__advantages-svg
                +svg('SVGs-44')
            .b-product__advantages-svg
                +svg('SVGs-45')
        .b-ordering__title.b-product__title как работает многоразовый подгузник?
        .b-product__how-work.row
            img(src='/img/product/17-layers.png').b-product__how-work-image
        .b-ordering__title.b-product__title отзывы мам
        .b-product__reviews.col-push-4.col-post-4
            .b-product__review-wrapper
                .b-product__review-title
                    |Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        |Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        |на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        |образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        |либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        |лучшего прилегания на новорожденных и худеньких малы шах.
                .b-product__review-title
                    | Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        | Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        | на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        | образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        | либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        | лучшего прилегания на новорожденных и худеньких малы шах.
                .b-product__review-title
                    | Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        | Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        | на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        | образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        | либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        | лучшего прилегания на новорожденных и худеньких малы шах.
                .b-product__review-title
                    | Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        | Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        | на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        | образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        | либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        | лучшего прилегания на новорожденных и худеньких малы шах.

            a(href='').b-product__review-btn оставьте отзыв
        .b-ordering__title.col-push-4.col-32 как ухаживать?
        .b-product_how-to-care.col-push-4.col-18
            p 1) постирайте перед использованием. Максимальная впитываемость приобретается после 3-4 стирок <br>
                | 2) вынимайте вкладыши из подгузника перед стиркой<br> 3) стирать при температуре не выше 40°С<br> 4) стирать со средством без содержания мыла в составе <br>
                | 5) обязательно застирывайте подгузник сразу после использования (после покака с жидким мылом, после пописа просто в теплой воде),
                |чтобы не появился запах. После постирайте в машине или на руках со средством для стирки в любое время  <br>
                | 6) рекомендуется добавлять при стирке любое отбеливающее средство без хлора <br>
                | 7) можно отжимать в машине при максимальных оборотах 8) не гладить <br>
                | 9) не сушить подгузник на батарее (вкладыш можно)<br><br>
                | <b>  Состав:</b> 100% полиэстер  <br><br>
                | Скачайте полную инструкцию по использованию продукции GlorYes!<a href=''>здесь</a> и <a href=''>прочитайте ответы на частые вопросы здесь</a>  .<br>



