extends _layout
block title
    title Оформление заказа
block content
    form(action='').b-product
        .b-ordering__nav-line.row.col-lg-push-4.col-md-push-1.col-lg-28.col-md-28.col-lg-post-4.col-md-post-4.col-push-2
            ul.b-ordering__nav-line-list
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link
                        .b-ordering__nav-line-list-item-link-icon
                            +svg('SVGs-21')
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Многоразовые подгузники
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link Классические Classic
                li.b-ordering__nav-line-list-item
                    a(href='').b-ordering__nav-line-list-item-link.b-product__nav-line-list-item-link_light-gray Котята (3-18 кг + два вкладыша)
        .b-product__info.row.col-lg-push-4.col-md-push-1.b-product__info_display-none
            .b-product__info-images.j-nav-slick
                .j-nav-little-slick.col-3
                    .b-product__info-images-little.col-3
                        img(src='/img/product/layer-29.png')
                    .b-product__info-images-little.col-3
                        img(src='http://история-вещей.рф/wp-content/uploads/2014/12/istorija-noskov-1.jpg')
                    .b-product__info-images-little.col-3
                        img(src='https://dexshell.ru/wa-data/public/shop/products/44/21/2144/images/7786/7786.800x0.png')
                    .b-product__info-images-little.col-3
                        img(src='https://i.ytimg.com/vi/2Lommbl_lMI/maxresdefault.jpg')
                    .b-product__info-images-little.col-3
                        img(src='/img/product/layer-29.png')
                    .b-product__info-images-little.col-3
                        img(src='https://dexshell.ru/wa-data/public/shop/products/44/21/2144/images/7786/7786.800x0.png')
                .j-nav-main-slick.col-13
                    .b-product__info-images-big
                        a(href='/img/product/layer-29.png').image-popup-fit-width
                            img(src='/img/product/layer-29.png')
                        .b-product__info-images-big-zoom.col-13
                            +svg('SVGs-13')
                            | нажмите, чтобы увеличить
                    .b-product__info-images-big
                        a(href='/img/product/layer-29.png').image-popup-fit-width
                            img(src='http://история-вещей.рф/wp-content/uploads/2014/12/istorija-noskov-1.jpg')
                        .b-product__info-images-big-zoom.col-13
                            +svg('SVGs-13')
                            | нажмите, чтобы увеличить
                    .b-product__info-images-big
                        a(href='/img/product/layer-29.png').image-popup-fit-width
                            img(src='https://dexshell.ru/wa-data/public/shop/products/44/21/2144/images/7786/7786.800x0.png')
                        .b-product__info-images-big-zoom.col-13
                            +svg('SVGs-13')
                            | нажмите, чтобы увеличить
                    .b-product__info-images-big
                        a(href='/img/product/layer-29.png').image-popup-fit-width
                            img(src='https://i.ytimg.com/vi/2Lommbl_lMI/maxresdefault.jpg')
                        .b-product__info-images-big-zoom.col-13
                            +svg('SVGs-13')
                            | нажмите, чтобы увеличить
                    .b-product__info-images-big
                        a(href='/img/product/layer-29.png').image-popup-fit-width
                            img(src='/img/product/layer-29.png')
                        .b-product__info-images-big-zoom.col-13
                            +svg('SVGs-13')
                            | нажмите, чтобы увеличить
                    .b-product__info-images-big
                        a(href='/img/product/layer-29.png').image-popup-fit-width
                            img(src='https://dexshell.ru/wa-data/public/shop/products/44/21/2144/images/7786/7786.800x0.png')
                        .b-product__info-images-big-zoom.col-13
                            +svg('SVGs-13')
                            | нажмите, чтобы увеличить
                .b-header__dellvery.b-product__dellvery.b-product__dellvery_tablet.col-16
                    .b-header__icon-car.b-product__icon-car
                        +svg('SVGs-06')
                    .b-header__delivery-description.b-product__delivery-description
                        | <b>БЕСПЛАТНАЯ ДОСТАВКА</b> заказов от 4000 руб. <br> и заказов со стиральным экопорошком
                .b-product__info-text-links.b-product__dellvery_tablet.col-16
                    ul.b-product__info-text-links-ul
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link о доставке
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link cпособы оплаты
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link как сделать заказ? 
            .b-product__info-text.col-14
                .b-product__title.b-product__title_align-left Пеленка-кокон GlorYes! (0-3,5 мес.)
                .b-product__subtitle Треугольники
                .b-product__vendor-code Арт: Sle-Min2-4
                .b-product__price
                    .b-product__price_pink 799 ₽ &nbsp
                    |749 ₽
                a(href='').b-ordering__often-buy-art-btn.b-ordering__often-buy-art-btn_margin-top-0.col-lg-4
                    | в корзину
                .b-ordering__basket-order-list-amount-form.b-product__basket-order-list-amount-form
                    input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input.col-push-1
                .b-ordering__product-availability.col-lg-3.col-lg-post-4 В наличии: <span style="color: #5cc5c8;"> 13 </span>
                .b-product__info-text-p.col-md-14
                    p Обеспечьте спокойный сон вашему малышу с рождения до 3,5 месяцев с помощью комфортного, тянущегося
                        |спального мешка в виде кокона на замочке. Он облегает тело малыша, словно мамины руки, успокаивает
                        |его и сдерживает вздрагивания и движения ручек, при этом не препятствуя движениям ножек. Пеленка-кокон
                        |понравится и папам как простой и быстрый способ свободного пеленания! Безопасность сна: малыш не
                        | запутается и не перегреется в мешке. 
                .b-header__dellvery.b-product__dellvery.b-product__dellvery_hidden_flex.col-lg-14
                    .b-header__icon-car.b-product__icon-car.b-product__dellvery_hidden
                        +svg('SVGs-06')
                    .b-header__delivery-description.b-product__delivery-description.col-13.b-product__dellvery_hidden
                        | <b>БЕСПЛАТНАЯ ДОСТАВКА</b> заказов от 4000 руб. <br> и заказов со стиральным экопорошком gloryes
                .b-product__info-text-links.col-11.b-product__dellvery_hidden
                    ul.b-product__info-text-links-ul
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link о доставке
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link cпособы оплаты
                        li.b-product__info-text-links-ul-li
                            a(href='').b-product__info-text-links-ul-li-link как сделать заказ? 


        .b-product__info-mibi
            .b-product__title Пеленка-кокон GlorYes! (0-3,5 мес.)
                .b-product__subtitle Треугольники
                .b-product__vendor-code Арт: Sle-Min2-4
                .b-product__price.col-13.col-push-12.col-post-8
                    .b-product__price_pink 799 ₽ &nbsp
                    | 749 ₽
            .b-product__info-images.col-push-1
                .b-product__info-images-big.col-34
                    img(src='/img/product/layer-29.png')
            a(href='').b-ordering__often-buy-art-btn.col-14.col-push-10.col-post-12
                | в корзину
            .b-product__info-text
                .b-ordering__basket-order-list-amount-form.b-product__basket-order-list-amount-form
                    input(name='amount' type='number').b-ordering__basket-order-list-amount-form-input.col-push-8
                .b-ordering__product-availability.col-10.col-post-4 В наличии: <span style="color: #5cc5c8;"> 13 </span>
            .b-product__info-text-p.col.col-push-1.col-post-1
                p Обеспечьте спокойный сон вашему малышу с рождения до 3,5 месяцев с помощью комфортного, тянущегося
                    | спального мешка в виде кокона на замочке. Он облегает тело малыша, словно мамины руки, успокаивает
                    | его и сдерживает вздрагивания и движения ручек, при этом не препятствуя движениям ножек. Пеленка-кокон
                    | понравится и папам как простой и быстрый способ свободного пеленания! Безопасность сна: малыш не
                    | запутается и не перегреется в мешке. 

        .b-ordering__title.col-lg-push-4.col-lg-30.col-36.row выберите расцветки
        .b-ordering__often-buy.col-lg-push-4.col-md-push-1.row.col-lg-31.col-35
            .b-ordering__often-buy-art.col-6.b-ordering__mobi-hidden
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1.col-lg-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                    | в корзину
            .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                    | в корзину
        .b-product__all-colors.col-36.b-product__tablet-show
            a(href='').b-product__all-colors-link показать все расцветки
        .b-ordering__often-buy.col-lg-push-4.col-md-push-1.row.col-lg-31.col-35.b-ordering__often-buy_mobi-show
            .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6
                    | в корзину
            .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                .b-ordering__often-buy-art-title2
                    | Сафари
                .b-ordering__often-buy-art-icon
                    img(src='/img/orders/img-5723.png')
                a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6
                    | в корзину
        .b-product__all-colors.col-36.b-product__often-buy_mobi-show
            a(href='').b-product__all-colors-link показать все расцветки
        .b-product__title информация о продукте
        .b-product__about.row
            .b-product__about-video.col-lg-16.col-lg-push-4.col-md-16.col-md-push-1.col-push-1
                iframe(height='315px' src="https://www.youtube.com/embed/UJjEr4DpDhU" frameborder="0" allowfullscreen).col-lg-16.col-md-18.col-34
            p.b-product__about-text.col-lg-12.col-md-14.col-34.col-lg-push-0.col-md-push-3.col-push-1.col-md-push-1.col-lg-push-1 как работает многоразовый подгузник?   экономный, сухой внутренний слой, дышащий
                |водонепроницаемый внешний слой, один вкладыш в комплекте, для малышей от 3 до 15 кг, с рождения до 3
                |лет использовать днем, на дневной сон, на прогулку летом, для плавания (без использования вкладыша) 
                |Многоразовые подгузники Классика будут еще проще и приятнее! Попробуйте одноразовые биоразлагаемые
                |бамбуковые салфетки GlorYes! Положив одну салфетку на подгузник перед использованием, вы сможете легко
                |очистить подгузник после «покаков». В рулоне 100 салфеток. Не знаете, какие подгузники выбрать?
        .b-product__advantages.row.col-push-4.col-post-3.col-29.b-product__advantages-mobi-hidden
            .b-product__advantages-svg
                +svg('SVGs-40')
            .b-product__advantages-svg
                +svg('SVGs-41')
            .b-product__advantages-svg
                +svg('SVGs-42')
            .b-product__advantages-svg
                +svg('SVGs-43')
            .b-product__advantages-svg
                +svg('SVGs-44')
            .b-product__advantages-svg
                +svg('SVGs-45')
        .b-product__advantages.row.col-push-2.col-post-2.col-30.b_mobi-show_flex
            .b-product__advantages-svg
                +svg('SVGs-40')
            .b-product__advantages-svg
                +svg('SVGs-41')
            .b-product__advantages-svg
                +svg('SVGs-42')
            .b-product__advantages-svg
                +svg('SVGs-43')
        .b-product__advantages.row.col-push-4.col-post-2.col-30.b_mobi-show_flex
            .b-product__advantages-svg
                +svg('SVGs-44')
            .b-product__advantages-svg
                +svg('SVGs-45')
            .b-product__advantages-svg
                +svg('SVGs-46')
        .b-product__title как работает многоразовый подгузник?
        .b-product__how-work.row
            img(src='/img/product/17-layers.png').b-product__how-work-image.col-push-1.b__mobi-hidden.col-md-34
            img(src='/img/product/17-layers-mobi.png').b-product__how-work-image.col-push-1.b_mobi-show.col-34
        .b-product__title отзывы мам
        .b-product__reviews.col-lg-push-4.col-lg-post-4.col-push-1.col-post-1
            .b-product__review-wrapper
                .b-product__review-title
                    |Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        |Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        |на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        |образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        |либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        |лучшего прилегания на новорожденных и худеньких малы шах.
                .b-product__review-title
                    | Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        | Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        | на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        | образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        | либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        | лучшего прилегания на новорожденных и худеньких малы шах.
                .b-product__review-title
                    | Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        | Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        | на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        | образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        | либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        | лучшего прилегания на новорожденных и худеньких малы шах.
                .b-product__review-title
                    | Консультант · 10.03.2017
                .b-product__review-text
                    p Здравствуйте, Алина! Подгузники очень нежные, резиночки мягкие. Наверняка, не верно застегнули.
                        | Напишите нашему консультанту Екатерина вконтакте https://vk.com/podguzniki_gloryes, пришлите фото
                        | на малыше, поможем! Очень часто мамы не застегивают горизонтальные ряды кнопок, в чем и ошибка. Таким
                        | образом подгузник не спадает. А кнопочки у ножек наоборот застегивают. И получается так, что
                        | либо давит, либо спадает. Не застегивайте кнопки у ножек, они дополнительные и сделаны для
                        | лучшего прилегания на новорожденных и худеньких малы шах.
            a(href='').b-product__review-btn.col-lg-push-0.col-md-push-0.col-push-11 оставьте отзыв
        .b-ordering__title.b-ordering__title__align-left.col-lg-push-4.col-lg-32.col-36 как ухаживать?
        .b-product_how-to-care.col-lg-push-4.col-lg-28.col-34.col-push-1
            p.col-lg-18 1) постирайте перед использованием. Максимальная впитываемость приобретается после 3-4 стирок <br>
                | 2) вынимайте вкладыши из подгузника перед стиркой<br> 3) стирать при температуре не выше 40°С<br> 4) стирать со средством без содержания мыла в составе <br>
                | 5) обязательно застирывайте подгузник сразу после использования (после покака с жидким мылом, после пописа просто в теплой воде),
                |чтобы не появился запах. После постирайте в машине или на руках со средством для стирки в любое время  <br>
                | 6) рекомендуется добавлять при стирке любое отбеливающее средство без хлора <br>
                | 7) можно отжимать в машине при максимальных оборотах 8) не гладить <br>
                | 9) не сушить подгузник на батарее (вкладыш можно)<br><br>
                | <b>  Состав:</b> 100% полиэстер  <br><br>
                | Скачайте полную инструкцию по использованию продукции GlorYes!<a href=''>здесь</a> и <a href=''>прочитайте ответы на частые вопросы здесь</a>  .<br>
        .b-ordering__title.col-lg-push-4.col-lg-15.col-36.row с этими товарами часто покупают
            .b-ordering__often-buy.col-lg-push-0.col-md-push-1.row.col-lg-31.col-35
                .b-ordering__often-buy-art.col-6.b-ordering__mobi-hidden
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
        .b-ordering__title.col-lg-push-4.col-lg-15.col-36.row Вы недавно смотрели
            .b-ordering__often-buy.col-lg-push-0.col-md-push-1.row.col-lg-31.col-35
                .b-ordering__often-buy-art.col-6.b-ordering__mobi-hidden
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-4.col-push-1.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-lg-6.b-ordering__mobi-hidden.b-ordering__tablet-show.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-md-6.col-lg-push-0.col-md-push-0.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
                .b-ordering__often-buy-art.col-17.col-push-1.col-lg-6.col-lg-push-0.col-md-push-0.col-md-8
                    .b-ordering__often-buy-art-title
                        | Африка
                    .b-ordering__often-buy-art-discr
                        | Многоразовый подгузник GlorYes!<br> CLASSIC 3-15 кг +один вкладыш
                    .b-ordering__often-buy-art-icon
                        img(src='/img/orders/img-5723.png')
                    a(href='').b-ordering__often-buy-art-btn.col-lg-4.col-push-1.col-15.col-md-6.col-lg-push-1
                        | в корзину
        .b-index__promotions.row.col-push-5.col-28.col-post-2
            .b-index__promotions-title акции и жизнь GlorYes!
            a(href='').b-index__promotions-link.col-push-1 @gloryes.ru
            .b-index__promotions-images.col-push-1
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/1.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/2.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/3.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/4.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/5.png')
                img.b-index__promotions-image.col-12.col-md-8.col-lg-8(src='/img/6.png')
