<div class="b-map-tooltip">
    <a href="javascript:;" class="b-map-tooltip__close">x</a>
    {{#if image}}
        <img src="{{image}}" alt="">
    {{/if}}
    <div class="b-map-tooltip__title">
        {{{title}}}
    </div>
    <div class="b-map-tooltip__txt">
        {{{text}}}
    </div>
    <div class="b-map-tooltip__arrow"></div>
</div>
