.b-delivery__text{
  margin-bottom: 35px;
  position: relative;
  font-size: 12px;
  @media #{$medium-up} {
      font-size: 15px;
  }
}
.b-delivery__tab-main-title, .b-delivery__tab-kz-title, .b-delivery__tab-world-title{
  text-transform: uppercase;
  cursor: pointer;
  color: $main-blue;
  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-top: 5px;
    margin-left: 9px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent $main-blue;
    transform: rotate(90deg);
  }
  &.active{
    &:after{
      transform: rotate(270deg);
    }
  }
}
.b-delivery__tab-kz-title{
  position: relative;
  &:after {
    left: 257px;
    @media #{$medium-up} {
      left: 325px;
    }
    @media #{$large-up} {
      left: 359px;
    }

  }
}
.b-delivery__tab-world-title{
  position: relative;
  &:after {
    left: 68px;
  }
}
.b-delivery__tab-msk-title, .b-delivery__tab-spb-title, .b-delivery__tab-rus-title{
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-top: 8px;
    margin-left: 7px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent $black;
    transform: rotate(90deg);
  }
  &.active{
    &:after{
      transform: rotate(270deg);
    }
  }
}
.b-show-element{
  display: none;
  cursor: pointer;
}
.b-show-msk-element, .b-show-spb-element, .b-show-rus-element, .b-kz-show-element, .b-world-show-element{
  display: none;
}
.b-delivery-pink-title {
  color: $header_pink;
  margin-top: 20px;
}
.b-color-light-gray{
  color: $light-gray;
}
.b-vertil-border{
  border-top: 1px solid $light-gray;
  padding-top: 20px;
}