.b-login-forgot{
  color: $main-blue;
  font-size: 12px;
  position: relative;
  bottom: 14px;
}
.b-login-p{
  color: $gray;
}
.b-login__left-side{
  float: left;
}
.b-login__position-p{
  font-size: 12px;
  position: relative;
  bottom: 110px;
  left: 286px;
}
.b-main-blue{
  color: $main-blue;
}