.b-personal-area__tabs-li{
  a{
    width: 100%;
  }
  margin-right: 8px;
  font-size: 12px;
  @media #{$medium-up} {
      font-size: 15px;
    margin-right: 30px;
  }
}
.b-personal-area__input{
  ::placeholder {
    opacity: 0.7;
  }
  input{
    font-size: 15px;
  }
}