.b-search__search-form{
  margin-top: 5px !important;
}
.b-search__article-title{
  font-size: 17px;
  font-weight: 700;
}
.b-search__article-text{
  color: $gray;
}
.b-search__article{
  margin-bottom: 30px;
}
.align-center{
  margin-left: 3px !important;
  @media #{$medium-up} {
    margin-left: 15px !important;
  }
  @media #{$large-up} {
     margin-left: 39px !important;
  }

}