.b-useful-articles__article-text-title{
  font-size: 18px;
}
.b-useful-articles__article-text-date{
  color: $light-gray;
  font-size: 12px;
  margin: 10px 0;
}
.b-useful-articles__article-text-p{
    color: $gray;
}
.b-useful-articles__article{
  margin-bottom: 66px;
}