.b-video__catalog-title{
  text-align: center;
  font-size: 18px;
  margin-bottom: 12px;
}
.b-video__catalog-element{
  margin-bottom: 30px;
}
.b-video__btn-link {
  background-color: #dbd93d;
  padding: 17px;
  text-align: center;
  color: $white;
  font-size: 17px;
  font-weight: 700;
  border-radius: 2px;
}
.b-video__btn{
  text-align: center;
  margin: 30px 0;
}