.b-footer__wrap{
  background-color: $main-blue;
  background-image: url('/img/9-layers.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.b-footer__hr{
  display: none;
  @media #{$medium-up} {
    color: $gray;
    margin-bottom: 16px;
    display: block;
  }
}
.b-footer__nav{
  background-color: $white;
}
.b-footer__nav-list_element_link{
  color: $black;
  display: block;
  margin-bottom: 16px;
  padding-top: 16px;
  @media #{$medium-up} {
    padding-top: 0;
  }
}
.b-footer__nav-list_element{
  position: relative;
  display: block;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    left: 0px;
    border-bottom: 1px solid rgba($gray, .5);
  }
  @media #{$medium-up} {
    display: flex;
    &:before{
      content: '';
      display: none;
    }
  }
}

.b-footer__nav-list{
  display: block;
  text-align: center;
  float: left;
  @media #{$medium-up} {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
  }

}
.b-footer__menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 35px;
    margin-bottom: 62px;
}
.b-footer__menu_lists{
  display: none;
  @media #{$medium-up} {
      display: block;
  }
}
.b-footer__menu_lists_items_link{
  color: $white;
  font-size: 13px;
  font-weight: 400;
  font-family: $font;

}
@mixin link-title{
  font-weight: 700;
  font-size: 17px;
  font-family: $font;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: block;
}
.b-footer__menu_lists_items_link-title{
  @include link-title();
}
.b-footer__menu_contact_social-buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.b-footer__social-href{
  fill: $gray;
  margin-bottom: 15px;
  .b-icon__SVGs-14{
    width: 34px;
    height: 30px;
  }
  .b-icon__SVGs-15{
    width: 46px;
    height: 26px;
  }
  .b-icon__SVGs-16{
    width: 46px;
    height: 26px;
  }
  .b-icon__SVGs-17{
    width: 46px;
    height: 30px;
    position: relative;
    right: 10px;
  }
}
.b-footer__menu_contact_lists_items_link-title{
  @include link-title();
  font-size: 12px;
  margin-bottom: 5px;
  @media #{$medium-up} {
    @include link-title();
    margin-bottom: 10px;
  }
}
.b-footer__menu_contact_search-form{
  display: flex;
}
.b-footer__menu_contact_search_input{
  width: 170px;
  height: 44px;
  border: none;
  box-shadow: none;
  padding: 10px;
  color: $gray;
  font-family: $font;
}
.b-footer__menu_contact_search_btn{
  width: 52px;
  height: 44px;
  background-color: #dcdc3e;
  border: none;
  box-shadow: none;
  p{
    color: $white;
    font-family: $font;
    font-size: 17px;
    font-weight: 700;
    padding-top: 2px;
    padding-right: 2px;
  }
}
.b-footer__logo{
  display: none;
  @media #{$medium-up} {
    display: block;
    margin-bottom: 70px;
    .b-icon__SVGs-19{
      fill: $gray;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  }

.b-footer__logo_text{
  text-align: center;
  color: $white;
  font-size: 12px;
  font-family: $font-b-header__trebuchet;
}
.b-footer__logo_text_gray{
  color: $gray;
}
.b-footer__nav-list_element_link_gray{
  .b-icon__SVGs-19{
    fill: $gray;
  }
}