/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
   transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir='rtl'] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

//Менять поведение тут
.b-gallery-slick__img-full-height {
    .slick-list,
    .slick-track {
        height: 100%;
    }

    .b-gallery-slide img {
        height: 100%;
    }
}

.b-gallery-slick__full-size {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.b-gallery-slick {
    position: relative;
    float: left;
    //Для зажатия между блоками. Естественно ставить своё
    width: 33.3%;
    height: 100%;
    //рекомендую не менять, чтобы высота слайдов не превышала высоту контейнера
    .slick-list,
    .slick-track {
        max-height: 100%;
    }
}
.b-gallery-slick__base {
    height: 100%;
}

//классы соседи для наглядности, можно удалить
.b-gallery__w {
    float: left;
    display: inline-flex;
    border: 4px solid black;
    background-color: $black;
    width: 33.333%;
    height: 100%;
}

//Воспроизводим Женин случай и режим края картинки
.b-gallery-slide__pic {
    background-image: url('https://www.placecage.com/600/800');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

//Свой класс для точечек
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    button {
        font-size: 0;
        height: 12px;
        width: 12px;
        background-color: $white;
        margin: 20px;
        border-radius: 6px;
        opacity: 0.78;
        border: none;
        &:focus{
            outline: none;
        }
    }

    .slick-active {
        button {
            background-color: $main-blue;
        }
    }
}
.b-gallery__wr {
    height: 50vh;
}