.b-header {
  font-family: $font;
  position: relative;
}

.b-header__dellvery {
  padding-top: 15px;
  padding-bottom: 14px;
  justify-content: center;
  flex-flow: row nowrap;
  display: none;
  @media #{$medium-up} {
    display: flex;
  }
}

.b-header__icon-car {
  .b-icon__SVGs-06 {
    width: 32px;
    height: 23px;
    fill: $gray;
    margin-right: 9px;
  }
}

.b-header__delivery-description {
  color: $gray;

  @media #{$medium-up} {
    font-size: 12px;
  }

  @media #{$large-up} {
    font-size: 15px;
  }
}

.b-header__navigation {
  background-color: $main-blue;
  padding-top: 21px;
  padding-bottom: 20px;
  width: 0;
  overflow: hidden;
  margin-bottom: 14px;
  transition: width .2s ease-in-out;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  &.active {
    width: 100%;
    z-index: 1;
  }


  @media #{$medium-up} {
    width: auto;
    position: static;
    height: auto;
  }
}

.b-header__menu {
  display: flex;
  justify-content: space-between;
  color: $white;
  font-family: $font-b-header__trebuchet;

  @media #{$medium-up} {
      font-size: 12px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}

.b-header__menu-item {
  color: $white;
}

.b-header__menu-item_with-traingle {
  position: relative;

  &:after {
    content: '';
    top: 7px;
    right: -15px;
    position: absolute;
    border: 5px solid transparent;
    border-top: 6px solid $white;
  }
}

.b-header__promo {
  display: flex;
  justify-content: center;
  color: $gray;
  text-transform: uppercase;
  font-weight: 700;
}

.b-header__promo-title {
  color: $gray;
  text-align: center;
  @media #{$medium-up} {
    font-size: 13px;
  }
  @media #{$large-up} {
     font-size: 17px;
  }
}

.b-header__promo_icon-star {
  .b-icon__SVGs-07 {
    width: 12px;
    height: 11px;
    fill: $gray;
    margin-right: 7px;
  }
}

.b-header__social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  svg {
    fill: $white;
  }
    .b-icon__SVGs-14 {
      width: 18px;
      height: 17px;
    }
    .b-icon__SVGs-15 {
      width: 26px;
      height: 14px;
    }
    .b-icon__SVGs-16 {
      width: 23px;
      height: 16px;
    }
    .b-icon__SVGs-17 {
      width: 11px;
      height: 22px;
    }
}

.b-header__login {
  font-family: $font-b-header__trebuchet;
  a {
    color: $white;
  }
  @media #{$medium-up} {
    text-align: center;
  }
  @media #{$large-up} {
     text-align: left;
  }
}
.b-header__login-enter{
  @media #{$large-up} {
    &:after{
      content: '/';
    }
  }
}
.b-header__login-register{
  display: none;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  @media #{$large-up} {
     display: inline-block;
  }
}
.b-header__main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$medium-up} {
    display: block;
    margin-bottom: 34px;
  }
}

.b-header__hamburger {
  display: block;
  position: relative;
  width: 26px;
  height: 18px;
  padding: 0;
  z-index: 2;
  margin: 0;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  transition: background 0.3s;

  @media #{$medium-up} {
      display: none;
  }

  &:focus {
    outline: none;
  }

  &.active {
    span {
      background: none;

      &:before {
        top: 3px;
        transform: rotate(45deg);
      }

      &:after {
        top: 3px;
        transform: rotate(-45deg);
      }

      &:before,
      &:after {
        transition-delay: 0.3s;
      }
    }
  }

  span {
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    width: 26px;
    height: 3px;
    transition: background 0.3s;
    background: $gray;

    &:after,
    &:before {
      position: absolute;
      display: block;
      left: 0;
      width: 26px;
      height: 3px;
      background-color: $gray;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s;
    }

    &:after {
      transition-property: bottom, transform;
      top: 6px;
    }

    &:before {
      transition-property: top, transform;
      top: -6px;
    }
  }
}

.b-header__main-info_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$medium-up} {
      align-items: flex-start;
  }

  svg {
    width: 94px;
    height: 69px;

    @media #{$medium-up} {
      width: 130px;
      height: 95px;
    }
  }
  .b-header__main-info_logo_tagline {
    color: $gray;
    font-size: 12px;
    font-weight: 400;

    @media #{$medium-up} {
      font-size: 12px;
    }
    @media #{$large-up} {
      font-size: 15px;
    }
  }
}
.b-header__main-info_logo-wrapper{
  .b-icon__SVGs-01{
    margin-top: 10px;
  @media #{$medium-up} {
    margin-top: 0;
    width: 116px;
    height: 85px;
  }
  @media #{$large-up} {
    width: 130px;
    height: 95px;
  }
  }
}

#SVGs-01 {
  .st0 {
    fill: #5CC5C8;
  }
  .st1 {
    fill: #DBD93D;
  }
  .st2 {
    fill: #576572;
  }
  .st3 {
    fill: #FFFFFF;
  }
  .st4 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF;
  }
  .st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #576572;
  }
  .st6 {
    fill: #747474;
  }
  .st7 {
    fill: #BFBFBF;
  }
  .st8 {
    fill: none;
    stroke: #BFBFBF;
    stroke-width: 1.3;
    stroke-miterlimit: 10;
  }
}

.b-header__main-info_search {
  display: none;

  @media #{$medium-up} {
    display: block;
  }

  .b-header__main-info_search_input {
    margin-top: 50px;
    padding: 5px;
    font-family: $font-b-header__trebuchet;
    color: $gray;
    border: 1px solid #bfbfbf;
    @media #{$large-up} {
      width: 267px;
      height: 38px;
    }
    @media #{$medium-up} {
      width: 195px;
      height: 40px;
    }
  }
}

.b-header__main-info_search_icon {
  width: 0;
  border: 0;
  padding: 0;

  .b-icon__SVGs-13 {
    position: relative;
    width: 13px;
    height: 11px;
    fill: $gray;
    @media #{$large-up} {
      left: 237px;
      bottom: 30px;
    }
    @media #{$medium-up} {
      left: 169px;
      bottom: 32px;
    }
    @media #{$big-up} {
      left: -29px;
      bottom: 1px;
    }
  }
}

.b-header__main-info_phone {
  display: none;
  align-items: center;
  flex-direction: column;
  padding-top: 48px;
  padding-right: 10px;
  p:nth-child(1) {
    color: $header_pink;
    font-weight: 700;
    align-self: center;
    @media #{$medium-up} {
        font-size: 13px;
    }
    @media #{$large-up} {
       font-size: 17px;
    }
  }
  p:nth-child(2) {
    color: $gray;
    font-weight: 400;
    position: relative;
    bottom: 15px;
    @media #{$medium-up} {
      font-size: 12px;
    }
    @media #{$large-up} {
      font-size: 15px;
    }
  }

  @media #{$medium-up} {
    display: flex;
  }
}

.b-header__main-info_ordering {
  font-family: $font-b-header__trebuchet;
  padding-top: 22px;
  text-align: center;
  padding-right: 27px;
  display: block;
  position: relative;
  left: 7px;
}

.b-header__main-info_ordering_menu-item1 {
  color: $gray;
  font-size: 15px;
  font-weight: 400;
  display: none;

  @media #{$medium-up} {
    display: inline-block;
    font-size: 12px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}

.b-header__main-info_ordering_menu-item-count {
  color: $gray;
  font-weight: 400;
  font-style: normal;
  @media #{$medium-up} {
    font-size: 12px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}

.b-header__main-info_ordering_menu-item2 {
  color: $header_pink;
  font-weight: 700;
  bottom: 5px;
  right: 2px;
  position: relative;
  @media #{$medium-up} {
    font-size: 12px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}

.b-header__main-info_ordering_icon {
  .b-icon__SVGs-11 {
    float: left;
    width: 24px;
    height: 19px;
    fill: $gray;
    margin-top: 4px;
  }
}

.b-header__main-info_ordering_btn {
  display: none;
  font-weight: 700;
  color: $white;
  border-radius: 2px;
  padding-top: 3px;
  background-color: $header_pink;
  a {
    color: $white;
  }

  @media #{$medium-up} {
    display: block;
    width: 121px;
    height: 36px;
    font-size: 12px;
  }
  @media #{$large-up} {
    width: 140px;
    height: 34px;
    font-size: 15px;
  }
}

.b-header__site-sections {
  display: none;

  @media #{$medium-up} {
      display: block;
  }
}


.b-header__site-sections_navigations {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 400;
  @media #{$large-up} {
    font-size: 17px;
  }
  @media #{$medium-up} {
    font-size: 13px;
  }
}

.b-header__site-sections_navigations-items {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  a {
    color: $black;
  }
  &.active{
      color: $gray;
    &:after{
      transform: rotate(135deg);
      top: 10px;
      transition: 0.2s;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 7px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    transform: rotate(-45deg);
  }
}

//наведение на корзину.................
.b-hover-basket{
  position: absolute;
  width: 441px;
  height: 535px;
  border: 1px solid #e1e1e1;
  background-color: $white;
  right: 11px;
  top: 47px;
  z-index: 5;
  color: $black;
  display: none;
}
.b-header__main-info_ordering_menu{
  position: relative;
  &:hover .b-hover-basket{
     display: block;
    }
}
.b-hover-basket__item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: -10px;
  margin: 10px;
  border-bottom: 1px solid $light-gray;
}
.b-hover-basket__image{
  margin-bottom: 13px;
}
.b-hover-basket__calc{
  text-align: right;
  padding-right: 20px;
  margin-top: 30px;
}
.b-hover-basket__second-line{
  color: $header_pink;
  font-weight: 700;
}
.b-hover-basket__btn{
  margin-top: 30px;
}
.b-hover-basket__btn-1{
  width: 195px;
  height: 51px;
  border-radius: 2px;
  background-color: $header_pink;
  border: none;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}
.b-hover-basket__btn-2{
  width: 195px;
  height: 51px;
  border-radius: 2px;
  border: 1px solid $gray;
  background-color: $white;
  color: black;
  font-size: 17px;
  cursor: pointer;
}

//ОКНА в нижнем меню..........................................
.b-header__drop-menu{
  display: none;
  position: absolute;
  width: 1136px;
  height: 488px;
  background-color: #ffffff;
  z-index: 10;
  top: 340px;
  left: 100px;
  border: 1px solid rgba($light-gray, 0.2);
}
.b-header__drop-menu__second-position{
  left: 340px;
  width: 996px;
  height: 488px;
  .b-header__drop-menu-slider-item-continer{
    p{
      margin: 0 40px;
    }
    .b-header__drop-menu-slider-item-price{
      margin-bottom: 20px;
    }
  }
}
.b-header__drop-menu-slider-item{
  margin-top: 10px;
}
.b-header__drop-menu-ul{
  margin: 40px 51px;
  width: 346px;
  height: 409px;
  border-right: 1px solid $light-gray;
  float: left;
}
.b-header__drop-menu-ul-li{
  padding-bottom: 8px;
}
.b-header__drop-menu-ul-li-a{
  text-transform: none;
  color: $black;
}
.b-header__drop-menu-slider{
  right: 10px;
}
.b-header__drop-menu-slider-item-continer{
  float: left;
  text-align: center;
  text-transform: none;
  img{
    margin: auto;
  }
  p{
    color: $gray;
    font-size: 12px;
    margin: 0 70px;
  }
  .b-header__drop-menu-slider-item-price {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 15px;
    color: $black;
  }
}
.b-header__drop-menu-slider-item-title{
  font-weight: 700;
}

//ВЫБОР ГОРОДА............
.b-header__city{
  position: absolute;
  width: 366px;
  height: 145px;
  background-color: $white;
  border: 1px solid rgba($light-gray, 0.2);
  z-index: 10;
  left: 70px;
  top: 115px;
}
.b-header__city-name{
  font-size: 18px;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 11px;
}
.b-header__city-btn{
  border-radius: 2px;
  width: 137px;
  height: 34px;
  background-color: $main-blue;
  color: $white;
  font-weight: 700;
  border: none;
  float: left;
}
.b-header__city-btn-wrap{
  margin-left: 20px;
}
.b-header__city-btn_color-lemon{
  background-color: $lemon;
  width: 179px;
  height: 34px;
  margin-left: 7px;
}