.b-index__top-slider{
  img{
    padding-top: 18px;
    padding-bottom: 30px;
  }
}
.b-index__recommendation{
  margin-bottom: 30px;
  @media #{$medium-up} {
    text-align: center;
  }
}
.b-index__recommendation_icon{
  float: left;
  margin-top: 14px;
  @media #{$medium-up} {
      margin-top: 0;
  }
}
.b-index__recommendation_icon_margin-none{
  margin: 0;
}
.b-index__recommendation_text{
  font-size: 12px;
  text-align: left;
  line-height: 13px;
  color: $gray;
  @media #{$medium-up} {
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    text-align: center;
  }
  @media #{$large-up} {
    font-size: 15px;
    line-height: 19px;
  }

}
.b-index__recommendation_text_title-mobi{
  font-size: 20px;
  margin-bottom: 9px;
  text-align: center;
  @media #{$medium-up} {
      display: none;
  }
}
.b-index__recommendation_text_title{
  display: none;
  @media #{$medium-up} {
    display: block;
    font-size: 22px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    color: $black;
  }
  @media #{$large-up} {
    font-size: 28px;
  }
}
.b-index__recommendation_link{
  color: $main-blue;
  text-align: center;
  font-weight: 400;
  @media #{$medium-up} {
      font-weight: 700;
  }
}
.b-index__recommendation-link_left{
  display: none;
  @media #{$medium-up} {
    display: inline-block;
    color: $main-blue;
    text-align: left;
    font-weight: 700;
    margin: 0;
  }
}
.b-index__recommendation-link_left-mobi{
  color: $main-blue;
  font-size: 15px;
  @media #{$medium-up} {
      display: none;
  }
}
.b-index__advantages{
  @media #{$medium-up} {
    background-color:  rgba($light-gray, .2);
  }
}
.b-index__advantages_text{
  text-align: center;
  color: $gray;
  font-size: 12px;
  line-height: 15px;
  p{
    margin-top: 20px;
  }
  @media #{$medium-up} {
    p{
      margin-bottom: 12px;
      padding: 0px 17px;
      line-height: 15px;
      margin-top: 0;
      }
  }
  @media #{$large-up} {
    p{
      font-size: 15px;
      padding: 0px 47px;
      margin-bottom: 38px;
      line-height: 22px;
    }
  }
}

.b-index__advantages_background-1{
  @media #{$medium-up} {
    background-image: url('/img/3-layers.png');
    background-repeat: no-repeat;
    background-position: top right;
  }
}
.b-index__advantages_background-2{
  @media #{$medium-up} {
    background-image: url('/img/3-2-layers.png');
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}
.b-index__advantages_background-3{
  @media #{$medium-up} {
    background-image: url('/img/3-3-layers.png');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}
.b-index__advantages_text_title{
  display: none;
  @media #{$medium-up} {
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: $black;
    margin-top: 21px;
    margin-bottom: 8px;
  }
  @media #{$large-up} {
    font-size: 28px;
    margin-bottom: 29px;
    margin-top: 90px;
  }
}
.b-index__advantages_btn {
  background-color: $main-blue;
  margin: auto;
  width: 150px;
  height: 40px;
  padding-top: 8px;
  margin-bottom: 30px;
  font-size: 12px;
  border-radius: 2px;
  a{
    color: $white;
  }
  @media #{$medium-up} {
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px;
    width: 150px;
    height: 45px;
    padding-top: 10px;
    margin-bottom: 0;
  }
  @media #{$large-up} {
    font-size: 15px;
    padding-top: 12px;
    width: 185px;
    height: 49px;
  }
}
.b-index__advantages_image{
  img{
    display: block;
  }
}
.b-index__advantages_image-mobi{
  display: block;
  @media #{$medium-up} {
    display: none;
  }
}
.b-index__advantages_image_display-none{
  display: none;
  @media #{$medium-up} {
      display: block;
  }
}
.b-index__advantages-footer-blok-title{
  font-size: 20px;
  @media #{$medium-up} {
    font-size: 22px;
  }
  @media #{$large-up} {
    font-size: 28px;
  }
}
.b-index__advantages-footer{
  text-align: center;
  p{
    margin-top: 7px;
    margin-bottom: 20px;
    color: $gray;
    @media #{$medium-up} {
      font-size: 15px;
      margin-bottom: 20px;
    }
    @media #{$large-up} {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
  img{
    width: 98%;
    margin-bottom: 16px;
    @media #{$large-up} {
      margin-bottom: 38px;
    }
  }
  @media #{$medium-up} {
    margin-top: 28px;
  }
}
.b-index__advantages-btn_footer-1{
  background-color: $lemon;
  margin-bottom: 30px;
  @media #{$medium-up} {
    margin-bottom: 60px;
    width: 150px;
    height: 45px;
  }
}
.b-index__advantages-btn_footer-1_margin25{
  @media #{$medium-up} {
    margin-bottom: 10px;
    margin-top: 25px;
    padding-top: 13px;
  }

}
.b-index__powder{
  text-align: center;
  margin-bottom: 66px;
  p{
    font-size: 15px;
    color: $gray;
    margin-bottom: 19px;
    @media #{$large-up} {
       font-size: 18px;
       margin-bottom: 34px;
    }
  }
}
.b-index__powder-title{
  font-size: 20px;
  margin-bottom: 7px;
  @media #{$medium-up} {
    font-size: 22px;
  }
  @media #{$large-up} {
    font-size: 28px;
  }

}
.b-index__powder-p{
  color: $gray;
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin: 13px 0;
  @media #{$medium-up} {
    margin: 13px 15px;
    line-height: 17px;
  }
  @media #{$large-up} {
    margin-top: 100px;
    font-size: 15px;
    line-height: 22px;
    padding: 0 45px;
    margin-bottom: 34px;
  }
}
.b-index__powder_background{
  @media #{$medium-up} {
    background-size: 51%;
    background-image: url('/img/5-layers.png');
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

.b-index__about{
  margin-bottom: 49px;
  @media #{$medium-up} {
    background-color:  rgba($light-gray, .2);
  }
}
.b-index__about-image{
  display: none;
  @media #{$medium-up} {
      display: block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @media #{$large-up} {
    margin: 35px;
  }
  margin: 10px 0x;
}
.b-index__about-image-mobi{
  float: left;
  @media #{$medium-up} {
      display: none;
  }
}
.b-index__about-text{
  text-align: center;
  padding-right: 20px;
  padding-top: 34px;
  color: $gray;
  font-size: 12px;
  line-height: 15px;
  @media #{$medium-up} {
    line-height: 17px;
  }
  @media #{$large-up} {
     font-size: 15px;
    line-height: 22px;
  }
}

.b-index__about-text-title{
  display: none;
  @media #{$medium-up} {
    display: block;
    font-size: 28px;
    margin-bottom: 34px;
    color: $black;
  }
}
.b-index__promotions{
  margin-bottom: 49px;
}
.b-index__promotions-title{
  @media #{$large-up} {
    font-size: 28px;
  }
  @media #{$medium-up} {
    font-size: 22px;
  }
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.b-index__promotions-link{
  color: $main-blue;
}
.b-index__promotions-image{
  margin-right: 10px;
  margin-bottom: 10px;
}
.b-index__partners{
  margin-bottom: 40px;
}
.b-index__recommendation-text_left{
  text-align: left;
  color: $gray;
  font-size: 12px;
  line-height: 13px;
  @media #{$medium-up} {
    line-height: 17px;
  }
  @media #{$large-up} {
    font-size: 15px;
    line-height: 22px;
  }
}