.b-index__top-slider{
  img{
    padding-top: 18px;
    padding-bottom: 30px;
  }
}
.b-index__recommendation{
  text-align: center;
  margin-bottom: 30px;
}
.b-index__recommendation_icon{
  float: left;
  margin-top: 14px;
  @media #{$medium-up} {
      margin-top: 0;
  }
}
.b-index__recommendation_text{
  font-size: 12px;
  text-align: left;
  line-height: 13px;
  color: $gray;
  @media #{$medium-up} {
    font-size: 12px;
    line-height: 13px;
    color: $gray;
    text-align: center;
  }
  @media #{$large-up} {
    font-size: 15px;
    line-height: 19px;
  }

}
.b-index__recommendation_text_title-mobi{
  font-size: 20px;
  margin-bottom: 9px;
  @media #{$medium-up} {
      display: none;
  }
}
.b-index__recommendation_text_title{
  display: none;
  @media #{$medium-up} {
    display: block;
    font-size: 22px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    color: $black;
  }
  @media #{$large-up} {
    font-size: 28px;
  }
}
.b-index__recommendation_link{
  color: $main-blue;
  text-align: center;
}
.b-index__recommendation-link_left{
  color: $main-blue;
  text-align: left;
  margin: 0;
}
.b-index__advantages{
  background-color:  rgba($light-gray, .2);
}
.b-index__advantages_text{
  text-align: center;
  p{
    margin-bottom: 38px;
    padding: 0px 47px;
    line-height: 22px;
    font-size: 15px;
    color: $gray;
  }
}
.b-index__advantages_background-1{
  background-image: url('/img/3-layers.png');
  background-repeat: no-repeat;
  background-position: top right;
}
.b-index__advantages_background-2{
  background-image: url('/img/3-2-layers.png');
  background-repeat: no-repeat;
  background-position: bottom left;

}
.b-index__advantages_background-3{
  background-image: url('/img/3-3-layers.png');
  background-repeat: no-repeat;
  background-position: bottom right;

}
.b-index__advantages_text_title{
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 29px;
  margin-top: 90px;
}
.b-index__advantages_btn {
  font-size: 15px;
  font-weight: 700;
  color: $white;
  border-radius: 2px;
  width: 185px;
  height: 49px;
  padding-top: 12px;
  background-color: $main-blue;
  margin: auto;
  a{
    color: $white;
  }
}
.b-index__advantages_image{
  img{
    display: block;
  }
}
.b-index__advantages-footer-blok-title{
  font-size: 28px;
}
.b-index__advantages-footer{
  text-align: center;
  margin-top: 28px;
  p{
    margin-top: 7px;
    margin-bottom: 34px;
    color: $gray;
  }
  img{
    width: 98%;
    margin-bottom: 38px;
  }
}
.b-index__advantages-btn_footer-1{
  background-color: $lemon;
  margin-bottom: 60px;
}
.b-index__powder{
  text-align: center;
  margin-bottom: 66px;
  p{
    color: $gray;
    margin-bottom: 34px;
  }
}
.b-index__powder-title{
  font-size: 28px;
  margin-bottom: 7px;
}
.b-index__powder-p{
  margin-top: 100px;
  color: $gray;
}
.b-index__powder_background{
  background-image: url('/img/5-layers.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.b-index__about{
  background-color:  rgba($light-gray, .2);
  margin-bottom: 49px;
}
.b-index__about-image{
  margin: 35px;
  margin-bottom: 10px;
}
.b-index__about-text{
  text-align: center;
  padding-right: 20px;
  padding-top: 34px;
  color: $gray;
}
.b-index__about-text-title{
  font-size: 28px;
  margin-bottom: 34px;
  color: $black;
}
.b-index__promotions{
  margin-bottom: 49px;
}
.b-index__promotions-title{
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}
.b-index__promotions-link{
  color: $main-blue;
}
.b-index__promotions-image{
  margin-right: 10px;
  margin-bottom: 10px;
}
.b-index__partners{
  margin-bottom: 40px;
}
.b-index__recommendation-text_left{
  text-align: left;
  color: $gray;
}