.b-ordering__nav-line-list{
  display: flex;
  flex-wrap: nowrap;
  @media #{$medium-up} {
    margin-bottom: 35px;
  }
  margin-bottom: 17px;
}
.b-ordering__nav-line-list-item-link{
  color: $gray;
}
.b-ordering__nav-line-list-item-link-icon{
  .b-icon__SVGs-21{
    fill: $main-blue;
    width: 19px;
    height: 21px;
  }
}
.b-ordering__nav-line-list-item{
  position: relative;
  margin-right: 20px;
  font-size: 10px;
  @media #{$large-up} {
     font-size: 15px;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 9px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-bottom: 1px solid $gray;
    border-left: 1px solid $gray;
    transform: rotate(-130deg);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.b-ordering__title{
  margin-bottom: 16px;
  font-size: 27px;
}
.b-ordering__title_second{
  color: $gray;
  font-size: 15px;
  text-transform: uppercase;
  @media #{$medium-up} {
    font-size: 13px;
  }
  @media #{$large-up} {
     font-size: 17px;
  }
}
.b-ordering__basket-order-col-item-mobi{
  font-size: 13px;
}
.b-ordering__basket-order{
  display: none;
  @media #{$medium-up} {
      display: block;
  }
}
.b-ordering__basket-mobi{
  @media #{$medium-up} {
      display: none;
  }
}
.b-ordering__basket-order-col{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.b-ordering__basket-order-col-item{
  &:first-child{
    margin-right: auto;
  }
  &:last-child{
    margin-left: 18px;
  }
}
.b-ordering__basket-order-list-item{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 30px;
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    background-color: $gray;
    opacity: 0.2;
    top: 100px;
  }
}
.b-ordering__basket-order-list-name{
  font-size: 15px;
  @media #{$large-up} {
    font-size: 18px;
  }
}
.b-ordering__basket-order-list-name,.b-ordering__basket-order-list-amount,.b-ordering__basket-order-list-price{
  padding-top: 12px;
}
.b-ordering__basket-order-list-name-second{
  color: $gray;
  font-size: 15px;
  @media #{$large-up} {
     font-size: 18px;
  }
}
.b-ordering__basket-order-list-amount-form-input{
  width: 34px;
  height: 35px;
  border: 1px solid rgba($gray , 0.2);
  padding-left: 18px;
  margin-top: 5px;
  @media #{$medium-up} {
    width: 40px;
    height: 40px;
    margin-top: 0;
  }
  @media #{$large-up} {
    width: 43px;
    height: 43px;
    box-shadow: 1px 0 1px rgba($gray, 0.3);
  }
}
.b-ordering__basket-order-list-price-value-delete{
  font-size: 12px;
  color: $main-blue;
}
.b-ordering__basket-order-list-hr{
  float: inherit;
  opacity: 0.4;
}
.b-ordering__basket-order-additionally{
  display: flex;
  align-items: center;
}
.b-ordering__basket-order-list-name-footer{
  color: $gray;
  font-size: 12px;
  @media #{$large-up} {
    font-size: 15px;
  }

}
.b-ordering__basket-order-additionally-link{
  color: $main-blue;
}
.b-ordering__basket-order-list-additionally-btn{
  display: block;
  width: 87px;
  height: 31px;
  border: 1px solid $main-blue;
  color: $main-blue;
  border-radius: 2px;
  @media #{$large-up} {
    width: 104px;
    height: 12px;
  }
  @media #{$large-up} {
    width: 182px;
    height: 42px;
  }
  p{
    text-align: center;
    font-size: 12px;
    @media #{$large-up} {
      font-size: 15px;
      padding: 5px;
    }
  }
}
.b-ordering__basket-info-price{
  color: $black;
  &:before{
    content: " ";
    white-space: pre;
  }
}
.b-ordering__basket-info-item{
  margin-bottom: 17px;
}

.b-ordering__basket-info-item_relative{
  position: relative;
}
.b-ordering__basket-info-item_relative-delivery{
  color: $header_pink;
  font-weight: 700;
  text-transform: none;
  font-size: 15px;
  top: 5px;
  @media #{$medium-up} {
    font-size: 12px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}
.b-ordering__basket-info-item-btn{
  background-color: $header_pink;
  color: $white;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 13px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 21px;
  @media #{$medium-up} {
    padding: 13px;
  }
  @media #{$large-up} {
    font-size: 17px;
    padding: 20px;
  }
}
.b-ordering__basket-info-item-btn-little{
  text-align: center;
  border: 1px solid rgba($gray, .2);
  border-radius: 2px;
  padding: 9px 10px 9px 10px;
  font-size: 12px;
  color: $gray;
  @media #{$medium-up} {
    padding:  5px 0;
    font-size: 12px;
  }
  @media #{$large-up} {
    font-size: 15px;
    padding: 14px 10px 12px 10px;
    width: 46%;
  }
}
.b-ordering__basket-info-item-btn-little-first{
  margin-right: 11px;
  padding: 9px 10px 9px 10px;
  box-shadow: 1px 0 1px rgba($gray, 0.3);

  @media #{$medium-up} {
    margin-right: 1px;
    box-shadow: none;
  }
  @media #{$large-up} {
    margin-right: 8px;
    padding: 14px 10px 12px 10px;
    width: 45%;
  }
}
.b-ordering__basket-info-item-coupon{
  color: $gray;
  font-size: 15px;
}
.b-ordering__basket-info{
  background-color: rgba($gray, 0.05);
  margin-bottom: 12px;
  padding-left: 28px;
  padding-top: 24px;
  @media #{$medium-up} {
  margin-top: 45px;
    padding-left: 13px;
    padding-top: 29px;
  }
  @media #{$large-up} {
    margin-left: 20px;
    padding: 35px 30px 10px 30px;
    margin-top: 0;
  }
}
.b-ordering__basket-mobi{
  margin-top: 45px;
}
.b-ordering__pay-icon{
  font-size: 12px;
  text-align: center;
  img{
    float: left;
    @media #{$medium-up} {
      width: 96px;
      height: 27px;
      opacity: 0.9;
      margin-top: 10px;
    }
    @media #{$large-up} {
      width: 137px;
      height: 39px;
      opacity: 0.9;
      margin-top: 0;
    }
  }
}

.b-ordering__pay-icon-link{
  color: $header_pink;
}
.b-ordering__pay-icon-text{
  line-height: 10px;
  @media #{$medium-up} {
      display: none;
  }
  @media #{$large-up} {
    display: block;
  }
}
.b-ordering__pay-icon-text-tablet{
  display: none;
  @media #{$medium-up} {
    display: inline;
  }
  @media #{$large-up} {
    display: none;
  }
}
.b-ordering__often-buy{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 56px;
}
.b-ordering__often-buy-art{
  display: flex;
  flex-direction: column;
}
.b-ordering__often-buy-art-btn{
  background-color: $main-blue;
  border-radius: 2px;
  color: $white;
  text-transform: uppercase;
  padding: 7px 26px 7px 26px;
}
.b-ordering__often-buy-art-title{
  font-size: 17px;
}
.b-ordering__often-buy-art-discr{
  font-size: 12px;
  color: $gray;
  opacity: 0.9;
  line-height: 13px;
  margin-bottom: 8px;
}
.b-ordering__often-buy-art-icon{
  margin-bottom: 17px;
}
.b-ordering__basket-order-additionally{
  margin-bottom: 56px;
}
.b-ordering__delivery-form{
  margin-bottom: 56px;
  input{
    border: 1px solid rgba($gray, .2);
  }
}
.b-ordering__delivery-form-country{
  margin-bottom: 20px;
}

.selectric {
  background-color: $white;

  > .label {
    background-color: $white;
  }

  .selectric-scroll {
    li {
      background-color: $white;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 40px;
    top: 3px;
    width: 1px;
    background-color: $light-gray;
    height: 85%;
  }
}
.b-ordering__delivery-form-city-search{
  padding: 12px;
}
.b-ordering__delivery-form-city-text{
  font-size: 12px;
  color: $gray;
}
.b-ordering__delivery-title{
  text-transform: uppercase;
  color: $header_pink;
  font-size: 17px;
  margin-bottom: 16px;
}
.b-ordering__delivery-methods-pickup-form-input{
  width: 10px;
  height: 10px;
  display: block;
}
.b-ordering__delivery-methods{
  margin-bottom: 20px;
}
.b-ordering__delivery-methods-pickup-full-address{
  font-size: 15px;
  color: $gray;
  opacity: 0.7;
  line-height: 20.83px;
  margin-bottom: 20px;
}
.b-ordering__delivery-form-address{
  margin-bottom: 10px;
}
.b-ordering__buyer-form{
  input {
    padding: 18px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid rgba($gray, .2);
    color: $gray;
  }
}
.b-ordering__buyer-form-last-name,.b-ordering__buyer-form-tel{
  margin-right: 24px;
  box-shadow: 1px 0 1px rgba($gray, 0.4);
}
.b-ordering__buyer-form-comment{
  width: 98.5%;
  padding: 18px;
  font-family: $font;
  border: 1px solid rgba($gray, .2);
}
.b-ordering__buyer{
  margin-bottom: 50px;
}
.b-ordering__delivery-checkbox-wrapper{
  bottom: 10px;
  position: relative;
  margin-bottom: 4px;
}
.b-ordering__delivery-checkbox{
  vertical-align: top;
  width: 10px;
  height: 10px;
  display: none;
  & + label {
    cursor: pointer;
    top: 10px;
  }

  &:not(checked) {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      padding: 0 0 0 20px;

      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 14px;
        height: 14px;
        background: $white;
        border: 1px solid rgba($gray, .5);
      }

      &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 2px;
        width: 9px;
        height: 6px;
        border: 0;
        transform: rotate(-45deg);
        transition: all .2s;
      }
    }
  }
  &:checked {
    & + label {
      &:after {
        border-left: 1px solid $black;
        border-bottom: 1px solid $black;
      }
    }
  }
}
.b-ordering__delivery-checkbox-wrapper-courier30km{
  margin-bottom: 30px;
}
.b-ordering__basket-info-item-btn{
  border: none;
  cursor: pointer;
}
.b-ordering__delivery-checkbox-wrapper-mail{
  margin-bottom: 30px;
}
.b-ordering__delivery-checkbox-pay3{
  margin-top: 10px;
  font-size: 12px;
  color: $gray;
}
.b-ordering__pay-system-link{
  color: $main-blue;
  font-size: 12px;
}
.b-ordering__confirm{
  background-color: $main-blue;
  border-radius: 2px;
  border: none;
  color: $white;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 19px 20px 17px 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.b-ordering__delivery-checkbox_blue{
  &:not(checked) {
    & + label {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        background: $main-blue;
        border: 1px solid rgba($gray, .5);
      }

      &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 2px;
        width: 9px;
        height: 6px;
        border: 0;
        transform: rotate(-45deg);
        transition: all .2s;
        color: $white;
      }
    }
  }
  &:checked {
    & + label {
      &:after {
        border-left: 1px solid $white;
        border-bottom: 1px solid $white;
      }
    }
  }
}
.b-ordering__delivery-wrapper_blue{
  label {
  font-size: 12px;
    color: $light-gray;
  }
}