.b-ordering__nav-line-list{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 35px;
}
.b-ordering__nav-line-list-item-link{
  color: $gray;
}
.b-ordering__nav-line-list-item-link-icon{
  .b-icon__SVGs-21{
    fill: $main-blue;
    width: 19px;
    height: 21px;
  }
}
.b-ordering__nav-line-list-item{
  position: relative;
  margin-right: 20px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 9px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-bottom: 1px solid $gray;
    border-left: 1px solid $gray;
    transform: rotate(-130deg);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
.b-ordering__title{
  margin-bottom: 16px;
  font-size: 27px;
}
.b-ordering__title_second{
  color: $gray;
  font-size: 17px;
  text-transform: uppercase;
}
.b-ordering__basket-order-col{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.b-ordering__basket-order-col-item{
  &:first-child{
    margin-right: auto;
  }
  &:last-child{
    margin-left: 18px;
  }
}
.b-ordering__basket-order-list-item{
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 30px;
  &:after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    background-color: $gray;
    opacity: 0.2;
    top: 100px;
  }
}
.b-ordering__basket-order-list-name,.b-ordering__basket-order-list-amount,.b-ordering__basket-order-list-price{
  padding-top: 12px;
}
.b-ordering__basket-order-list-name-second{
  color: $gray;
}
.b-ordering__basket-order-list-amount-form-input{
  width: 43px;
  height: 43px;
  border: 1px solid rgba($gray , 0.2);
  box-shadow: 1px 0 1px rgba($gray, 0.3);
  padding-left: 18px;
}
.b-ordering__basket-order-list-price-value-delete{
  font-size: 12px;
  color: $main-blue;
}
.b-ordering__basket-order-list-hr{
  float: inherit;
  opacity: 0.4;
}
.b-ordering__basket-order-additionally{
  display: flex;
  align-items: center;
}
.b-ordering__basket-order-list-name-footer{
  color: $gray;
  font-size: 15px;
}
.b-ordering__basket-order-additionally-link{
  color: $main-blue;
}
.b-ordering__basket-order-list-additionally-btn{
  display: block;
  width: 182px;
  height: 42px;
  border: 1px solid $main-blue;
  color: $main-blue;
  border-radius: 2px;
  p{
    padding: 5px;
  }
}
.b-ordering__basket-info-price{
  color: $black;
  &:before{
    content: " ";
    white-space: pre;
  }
}
.b-ordering__basket-info-item{
  margin-bottom: 20px;
}

.b-ordering__basket-info-item_relative{
  position: relative;
}
.b-ordering__basket-info-item_relative-delivery{
  color: $header_pink;
  font-weight: 700;
  text-transform: none;
  font-size: 15px;
  top: 5px;
}
.b-ordering__basket-info-item-btn{
  background-color: $header_pink;
  color: $white;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 21px;
}
.b-ordering__basket-info-item-btn-little{
  text-align: center;
  border: 1px solid rgba($gray, .2);
  border-radius: 2px;
  padding: 14px 10px 12px 10px;
  font-size: 15px;
  color: $gray;
  width: 44%;
}
.b-ordering__basket-info-item-btn-little-first{
  margin-right: 8px;
  padding: 14px 10px 12px 10px;
  box-shadow: 1px 0 1px rgba($gray, 0.3);
  width: 45%;
}
.b-ordering__basket-info-item-coupon{
  color: $gray;
  font-size: 15px;
}
.b-ordering__basket-info{
  background-color: rgba($gray, 0.05);
  padding: 35px 30px 10px 30px;
  margin-left: 20px;
  margin-bottom: 21px;
}
.b-ordering__pay-icon{
  font-size: 12px;
  text-align: center;
  img{
    float: left;
  }
}
.b-ordering__pay-icon-link{
  color: $header_pink;
}
.b-ordering__pay-icon-text{
  line-height: 10px;
}
