.b-ordering__nav-line-list{
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 35px;
}
.b-ordering__nav-line-list-item-link{
  color: $gray;
}
.b-ordering__nav-line-list-item-link-icon{
  .b-icon__SVGs-21{
    fill: $main-blue;
    width: 19px;
    height: 21px;
  }
}
.b-ordering__nav-line-list-item{
  position: relative;
  margin-right: 20px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 9px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-bottom: 1px solid $gray;
    border-left: 1px solid $gray;
    transform: rotate(-130deg);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}
