.b-product__nav-line-list-item-link_light-gray{
  color: $light-gray;
}
.b-product__info_display-none{
  display: none;
  @media #{$medium-up} {
      display: block;
  }
}
.b-product__info-mibi{
  display: block;
  @media #{$medium-up} {
      display: none;
  }
}
.b-product__info-images{
  float: left;
}
.b-product__info-images-little{
  ma-bottom: 15px;
}
.b-product__info-images-big-zoom{
  color: $light-gray;
  text-align: center;
  .b-icon__SVGs-13{
    fill: $light-gray;
    width: 13px;
    height: 11px;
    margin-right: 5px;
  }
}
.b-product__title{
  font-size: 20px;
  @media #{$medium-up} {
      font-size: 22px;
  }
  @media #{$large-up} {
    font-size: 28px;
  }
}
.b-product__subtitle{
  font-size: 15px;
  color: $gray;
  opacity: 0.9;
  @media #{$medium-up} {
    margin-bottom: 16px;
  }
  @media #{$large-up} {
     font-size: 18px;
  }
}
.b-product__vendor-code{
  color: $light-gray;
  margin-bottom: 18px;
  font-size: 12px;
  @media #{$large-up} {
     font-size: 15px;
  }
}

.b-product__info-text{
  margin-left: 20px;
}
.b-product__price{
  font-size: 20px;
  @media #{$large-up} {
     font-size: 22px;
  }
  @media #{$large-up} {
    font-size: 28px;
  }
}
.b-product__price_pink{
  float: left;
  color: $header_pink;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 83%;
    bottom: 15px;
    display: block;
    background-color: transparent;
    border-bottom: 1px solid $header_pink;
  }
}
.b-product__price{
  margin-bottom: 18px;
}
.b-product__basket-order-list-amount-form{
  input{
    height: 39px;
  }
}
.b-ordering__product-availability{
  margin-left: 15px;
  display: block;
  padding-top: 10px;
  margin-bottom: 35px;
  font-size: 12px;
  color: $gray;
  @media #{$medium-up} {
    padding-top: 5px;
    margin-left: 18px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}
.b-product__info-text-p{
  font-size: 12px;
  color: $gray;
  line-height: 22px;
  @media #{$large-up} {
     font-size: 15px;
  }
}
.b-product__dellvery{
  color: $gray;
  position: relative;
  text-transform: uppercase;
    &:before{
      content: '';
      position: absolute;
      width: 100%;
      bottom: 70px;
      background-color: transparent;
      border-bottom: 1px solid $gray;
    }
}
.b-product__dellvery_tablet{
  display: block;
  position: relative;
  right: 60px;
  @media #{$large-up} {
     display: none;
  }
}
.b-product__delivery-description{
  font-size: 12px;
  @media #{$large-up} {
    font-size: 15px;
  }
}
.b-product__info-text-links-ul{
  display: flex;
  justify-content: space-between;
}
.b-product__info-text-links-ul-li-link{
  color: $main-blue;
  font-weight: 700;
  font-size: 12px;
  @media #{$large-up} {
     font-size: 15px;
  }
}
.b-product__title{
  text-align: center;
}
.b-product__title_align-left{
  text-align: left;
}
.b-product__about-text{
  color: gray;
  font-size: 12px;
  margin-top: 14px;
  text-align: center;
  @media #{$medium-up} {
      margin-top: 0;
    text-align: left;
  }
  @media #{$large-up} {
     font-size: 15px;
  }
}
.b-ordering__often-buy-art-btn{
  padding-left: 32px;
  font-size: 12px;
  margin: 17px 0px;
  @media #{$large-up} {
     font-size: 15px;
  }
}
.b-product__about{
  margin-top: 40px;
  margin-bottom: 27px;
}
.b-product__advantages{
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  align-items: flex-start;
  @media #{$large-up} {
    margin-bottom: 56px;
  }
}
.b-product__advantages-svg{
  .b-icon__SVGs-40{
    fill: $gray;
    opacity: 0.5;
    width: 82px;
    height: 63px;
    @media #{$large-up} {
      width: 108px;
      height: 88px;
    }
  }
  .b-icon__SVGs-41{
    fill: $gray;
    opacity: 0.5;
    width: 64px;
    height: 78px;
    @media #{$large-up} {
      width: 84px;
      height: 109px;
    }
  }
  .b-icon__SVGs-42{
    fill: $gray;
    opacity: 0.5;
    width: 66px;
    height: 65px;
    @media #{$large-up} {
      width: 87px;
      height: 91px;
    }
  }
  .b-icon__SVGs-43{
    fill: $gray;
    opacity: 0.5;
    width: 96px;
    height: 79px;
    @media #{$large-up} {
      width: 125px;
      height: 110px;
    }
  }
  .b-icon__SVGs-44{
    fill: $gray;
    opacity: 0.5;
    width: 66px;
    height: 76px;
    @media #{$large-up} {
      height: 106px;
      width: 120px;
    }
  }
  .b-icon__SVGs-45{
    fill: $gray;
    opacity: 0.5;
    width: 83px;
    height: 77px;
    @media #{$large-up} {
      width: 119px;
      height: 107px;
    }
  }
  .b-icon__SVGs-46{
    fill: $gray;
    opacity: 0.5;
    width: 80px;
    height: 76px;
    @media #{$large-up} {
      width: 119px;
      height: 107px;
    }
  }
}
.b-product__how-work-image{
  margin-top: 32px;
  margin-bottom: 56px;
}
.b-product__review-title{
  color: $main-blue;
  font-weight: 700;
}
.b-product__review-wrapper{
  overflow: scroll;
  height: 389px;
  margin-bottom: 30px;
}
.b-product__review-text{
  color: $gray;
  line-height: 24px;
  margin-bottom: 50px;
  font-size: 15px;
}
.b-product__review-btn{
  text-transform: uppercase;
  width: 138px;
  height: 40px;
  border-radius: 2px;
  background-color: #dbd93d;
  text-align: center;
  color: $white;
  font-size: 13px;
  font-weight: 700;
  padding: 7px;
  margin-bottom: 85px;
  display: block;
  @media #{$medium-up} {
    width: 154px;
    height: 45px;
    padding: 3px;
  }
  @media #{$medium-up} {
    width: 187px;
    height: 51px;
    font-size: 17px;
    padding: 15px;
  }
}
.b-product_how-to-care{
  font-size: 15px;
  margin-bottom: 64px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 440px;
    background-color: transparent;
    border-bottom: 1px solid $gray;
    opacity: 0.7;
  }
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -25px;
    display: block;
    background-color: transparent;
    border-bottom: 1px solid $gray;
    opacity: 0.7;
  }
  a{
    color: $main-blue;
    font-weight: 700;
  }
}
.b-product__title_margin-b30{
  margin-bottom: 30px;
}
.b-product__dellvery_hidden{
  display: none;
  @media #{$large-up} {
     display: block;
  }
}
.b-product__dellvery_hidden_flex{
  display: none;
  &:before{
    display: none;
    @media #{$large-up} {
      display: block;
    }
  @media #{$large-up} {
     display: flex;
  }
 }
}
.b-ordering__often-buy_mobi-show{
  display: flex;
  margin-top: -33px;
  margin-bottom: 10px;
  @media #{$medium-up} {
      display: none;
  }
}
.b-product__often-buy_mobi-show{
  @media #{$medium-up} {
    display: none;
  }
}
.b-product__tablet-show{
  display: none;
  margin-top: -33px;
  @media #{$medium-up} {
      display: block;
  }
}
.b-ordering__often-buy-art-title2{
  color: $gray;
}
.b-product__all-colors{
  text-align: center;
  margin-bottom: 16px;
  font-size: 14px;
  @media #{$large-up} {
     font-size: 15px;
  }
}
.b-product__all-colors-link{
  color: $main-blue;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: -11px;
    top: 6px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-bottom: 1px solid $main-blue;
    border-left: 1px solid $main-blue;
    transform: rotate(-45deg);
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}
.b-product__advantages-mobi-hidden{
  display: none;
  @media #{$medium-up} {
      display: flex;
  }
}
.b-product__advantages-tablet-hidden{
  display: flex;
  @media #{$large-up} {
     display: none;
  }
}
.b__mobi-hidden{
  display: none;
  @media #{$medium-up} {
      display: block;
  }
}
.b_mobi-show{
  display: block;
  @media #{$medium-up} {
      display: none;
  }
}
.b_mobi-show_flex{
  display: flex;
  @media #{$medium-up} {
    display: none;
  }
}