.b-product__nav-line-list-item-link_light-gray{
  color: $light-gray;
}
.b-product__info-images{
  float: left;
}
.b-product__info-images-little{
  ma-bottom: 15px;
}
.b-product__info-images-big-zoom{
  color: $light-gray;
  text-align: center;
  .b-icon__SVGs-13{
    fill: $light-gray;
    width: 13px;
    height: 11px;
    margin-right: 5px;
  }
}
.b-product__title{
  font-size: 28px;
}
.b-product__subtitle{
  font-size: 18px;
  color: $gray;
  opacity: 0.9;
  margin-bottom: 16px;
}
.b-product__vendor-code{
  color: $light-gray;
  margin-bottom: 18px;
}

.b-product__info-text{
  margin-left: 20px;
}
.b-product__price{
  font-size: 28px;
}
.b-product__price_pink{
  float: left;
  color: $header_pink;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    width: 83%;
    bottom: 15px;
    display: block;
    background-color: transparent;
    border-bottom: 1px solid $header_pink;
  }
}
.b-product__price{
  margin-bottom: 18px;
}
.b-product__basket-order-list-amount-form{
  input{
    height: 39px;
  }
}
.b-ordering__product-availability{
  margin-left: 18px;
  display: block;
  padding-top: 5px;
  margin-bottom: 35px;
}
.b-product__info-text-p{
  font-size: 15px;
  color: $gray;
  line-height: 22px;
}
.b-product__dellvery{
  color: $gray;
  position: relative;
  text-transform: uppercase;
}
.b-product__dellvery{
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 70px;
    background-color: transparent;
    border-bottom: 1px solid $gray;
  }
}
.b-product__info-text-links-ul{
  display: flex;
  justify-content: space-between;
}
.b-product__info-text-links-ul-li-link{
  color: $main-blue;
  font-weight: 700;
}
.b-product__title{
  text-align: center;
}
.b-product__about-text{
  color: gray;
}
.b-product__about{
  margin-top: 40px;
  margin-bottom: 27px;
}
.b-product__advantages{
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  align-items: flex-start;
}
.b-product__advantages-svg{
  .b-icon__SVGs-40{
    fill: $gray;
    opacity: 0.5;
    width: 108px;
    height: 88px;
  }
  .b-icon__SVGs-41{
    fill: $gray;
    opacity: 0.5;
    width: 84px;
    height: 109px;
  }
  .b-icon__SVGs-42{
    fill: $gray;
    opacity: 0.5;
    width: 87px;
    height: 91px;
  }
  .b-icon__SVGs-43{
    fill: $gray;
    opacity: 0.5;
    width: 125px;
    height: 110px;
  }
  .b-icon__SVGs-44{
    fill: $gray;
    opacity: 0.5;
    width: 120px;
    height: 106px;
  }
  .b-icon__SVGs-45{
    fill: $gray;
    opacity: 0.5;
    width: 119px;
    height: 107px;
  }
}
.b-product__how-work-image{
  margin-top: 32px;
  margin-bottom: 56px;
}
.b-product__review-title{
  color: $main-blue;
  font-weight: 700;
}
.b-product__review-wrapper{
  overflow: scroll;
  height: 389px;
  margin-bottom: 30px;
}
.b-product__review-text{
  color: $gray;
  line-height: 24px;
  margin-bottom: 50px;
  font-size: 15px;
}
.b-product__review-btn{
  text-transform: uppercase;
  width: 187px;
  height: 51px;
  border-radius: 2px;
  background-color: #dbd93d;
  text-align: center;
  color: $white;
  font-size: 17px;
  font-weight: 700;
  padding: 15px;
  margin-bottom: 85px;
  display: block;
}
.b-product_how-to-care{
  font-size: 15px;
  a{
    color: $main-blue;
    font-weight: 700;
  }
}