// COLORS
$black: #000;
$white: #fff;
$base-font-color: $black;
$green: #5bac26;
$main-blue: #5cc5c8;
$gray: #747474;
$light-gray: #d6d7d9;
$header_pink: #f27a80;
$lemon: #dbd93d;

// Vertical rhythm
$base-font-size: 16px;
$base-vertical-rhythm: 10px;
$base-line-height: 24px;
$rhythm-unit: 'px';
$round-to-nearest-half-line: true;
// Vertical rhythm debug
$vertical-rhythm-debug: false;
$vertical-rhythm-color-lines: #000;

// Z-INDEX MANAGEMENT
// -----------------------------------
$z-layers: (
    'hide': -1,
    'zero': 0,
    'default': 1,
    'nav': 2,
);


// GLOBAL SETTINGS
// -----------------------------------

// Transition  property
$gl-trs-duration: .3s;
$gl-trs-function: ease;

// Text transform letterspacing
$gl-letter-spacing: .2em;

