$sprites-map : (
  al-b-back-link-dark: (0px, 176px, 0px, -176px, 18px, 15px, 271px, 191px, '/img/sprites.png', 'al-b-back-link-dark', ),
  al-b-back-link: (192px, 130px, -192px, -130px, 18px, 15px, 271px, 191px, '/img/sprites.png', 'al-b-back-link', ),
  al-b-dropdown: (256px, 114px, -256px, -114px, 11px, 8px, 271px, 191px, '/img/sprites.png', 'al-b-dropdown', ),
  al-b-floor__down: (175px, 151px, -175px, -151px, 23px, 13px, 271px, 191px, '/img/sprites.png', 'al-b-floor__down', ),
  al-b-floor__up: (199px, 151px, -199px, -151px, 23px, 13px, 271px, 191px, '/img/sprites.png', 'al-b-floor__up', ),
  al-b-menu__ctrl: (223px, 151px, -223px, -151px, 16px, 13px, 271px, 191px, '/img/sprites.png', 'al-b-menu__ctrl', ),
  al-b-pointer-arrow: (256px, 102px, -256px, -102px, 15px, 11px, 271px, 191px, '/img/sprites.png', 'al-b-pointer-arrow', ),
  al-b-rotate: (172px, 130px, -172px, -130px, 19px, 18px, 271px, 191px, '/img/sprites.png', 'al-b-rotate', ),
  al-b-select-options: (19px, 176px, -19px, -176px, 18px, 14px, 271px, 191px, '/img/sprites.png', 'al-b-select-options', ),
  building__sort_style_asc: (256px, 136px, -256px, -136px, 9px, 5px, 271px, 191px, '/img/sprites.png', 'building__sort_style_asc', ),
  building__sort_style_desc: (256px, 130px, -256px, -130px, 9px, 5px, 271px, 191px, '/img/sprites.png', 'building__sort_style_desc', ),
  checkbox-checked-hover: (151px, 103px, -151px, -103px, 26px, 26px, 271px, 191px, '/img/sprites.png', 'checkbox-checked-hover', ),
  checkbox-checked: (178px, 103px, -178px, -103px, 26px, 26px, 271px, 191px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (151px, 130px, -151px, -130px, 20px, 20px, 271px, 191px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (150px, 151px, -150px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (75px, 151px, -75px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'checkbox', ),
  gallery-next: (212px, 0px, -212px, 0px, 59px, 101px, 271px, 191px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (151px, 0px, -151px, 0px, 60px, 102px, 271px, 191px, '/img/sprites.png', 'gallery-prev', ),
  logo: (0px, 0px, 0px, 0px, 150px, 150px, 271px, 191px, '/img/sprites.png', 'logo', ),
  nav-sublist: (256px, 123px, -256px, -123px, 11px, 6px, 271px, 191px, '/img/sprites.png', 'nav-sublist', ),
  popup-close: (212px, 102px, -212px, -102px, 43px, 44px, 271px, 191px, '/img/sprites.png', 'popup-close', ),
  radio-checked-hover: (100px, 151px, -100px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'radio-checked-hover', ),
  radio-checked: (50px, 151px, -50px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (25px, 151px, -25px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (0px, 151px, 0px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'radio-hover', ),
  radio: (125px, 151px, -125px, -151px, 24px, 24px, 271px, 191px, '/img/sprites.png', 'radio', ),
);
