<div id="tooltip" class="al-b-tooltip">
    {{#if header}}

        <div class="al-b-tooltip__num">
            {{{header}}}
        </div>
    {{/if}}
    {{#if content}}
        <div class="al-b-tooltip__txt">
            {{{content}}}
        </div>
    {{/if}}
</div>
