<div id="tooltip" class="al-b-tooltip al-b-tooltip_theme_flat">
    <div class="al-b-tooltip__rooms">
        {{room}}
    </div>
    <div class="al-b-tooltip__title">
        {{title}}
    </div>
    <div class="al-b-tooltip__floors">
        {{floor}}
    </div>
    <div class="al-b-tooltip__txt">
        {{{content}}}
    </div>
</div>
